<div class="container my-5 m-auto text-center">
    <img src="images/resin1.jpg" class="rounded-circle" style="height:100px; width:100px;" alt="">
    <ul>
        <a href=""><li class="mt-5 mb-4 ">My Products</li></a>
        <a href=""><li class="my-4 ">Add Product</li></a>
        <a href=""><li class="my-4 "></li>My Category</a>
        <a href=""><li class="my-4 ">Profile</li></a>
        <a href=""><li class="my-4 ">Become a Customer</li></a>
        <a href=""><li class="my-4 ">Log-out</li></a>
    </ul>
</div>
