<div class="container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="container my-5">
        <a class="card h-100 category-card">
          <img src="images/logo.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <p class="card-title" style="font-size:20px"><strong>crafts</strong></p>
          </div>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container my-5">
        <a class="card h-100 category-card">
          <img src="images/logo.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <p class="card-title" style="font-size:20px"><strong>crafts</strong></p>
          </div>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container my-5">
        <a class="card h-100 category-card">
          <img src="images/logo.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <p class="card-title" style="font-size:20px"><strong>crafts</strong></p>
          </div>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container my-5">
        <a class="card h-100 category-card">
          <img src="images/logo.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <p class="card-title" style="font-size:20px"><strong>crafts</strong></p>
          </div>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container my-5">
        <a class="card h-100 category-card">
          <img src="images/logo.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <p class="card-title" style="font-size:20px"><strong>crafts</strong></p>
          </div>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container my-5">
        <a class="card h-100 category-card">
          <img src="images/logo.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <p class="card-title" style="font-size:20px"><strong>crafts</strong></p>
          </div>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container my-5">
        <a class="card h-100 category-card">
          <img src="images/logo.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <p class="card-title" style="font-size:20px"><strong>crafts</strong></p>
          </div>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container my-5">
        <a class="card h-100 category-card">
          <img src="images/logo.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <p class="card-title" style="font-size:20px"><strong>crafts</strong></p>
          </div>
        </a>
      </div>
    </ng-template>
 
  </owl-carousel-o>
</div>

<div class="text-center">
  <button routerLink="/category" class="btn" style="background-color: #b83807; color:#fff">
    View All Categories
  </button>
</div>