<div class="product-form shadow-lg" style="background-color: #f8eece;">
    <h2 class="text-center mb-4" style="color: #b83807;">Add Your Product</h2>
    <form (ngSubmit)="addProduct()">
        <div class="mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" [(ngModel)]="title" name="title" placeholder="Your product title" required>
                <label for="ptitle">Product Title</label>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-floating">
                <input type="number" class="form-control" [(ngModel)]="price" name="price" placeholder="Your product price" required>
                <label for="price">Product Price</label>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-floating">
                <textarea class="form-control" [(ngModel)]="description" name="description" placeholder="Product Description" style="height: 150px;" required></textarea>
                <label for="pDescription">Product Description</label>
            </div>
        </div>

        <div class="my-3">
            <div class="form-floating">
                <select class="form-select" [(ngModel)]="category" name="category" required>
                    <option selected disabled>Select Category</option>
                    <option value="accessories">Accessories</option>
                    <option value="clay">Clay</option>
                    <option value="crochet">Crochet</option>
                </select>
                <label for="category">Category</label>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-floating">
                <input type="file" class="form-control" (change)="imageFiles = $event.target.files" id="gallery" accept="image/*" multiple>
                <label for="gallery">Product Gallery</label>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-floating">
                <input type="file" class="form-control" (change)="videoFile = $event.target.files[0]" id="video" accept="video/*">
                <label for="video">Product Video</label>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn w-50 fw-bolder text-white" style="background-color: #b83807;">Add Product</button>
        </div>
    </form>
</div>
