<div class=" my-5 m-auto">
    <div class="contact-form shadow-lg" style="background-color: #ffffff;">
        <h5 class="text-center mb-4" style="color: #b83807;">Contact Us</h5>
        <form>
            <div class="d-flex justify-content-around">
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                        <label for="name">Your Name</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                        <label for="email">Your Email</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="tel" class="form-control" id="phone" placeholder="Your Phone">
                        <label for="phone">Your Phone</label>
                    </div>
                </div>
            </div>
           
            <div class="mb-3">
                <div class="form-floating">
                    <textarea class="form-control" id="message" placeholder="Your Message" style="height: 150px;"></textarea>
                    <label for="message">Your Message</label>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn w-50 fw-bolder text-white">Send Message</button>
            </div>
        </form>
    </div>
</div>
