<div class="container ">
  <h6 class="ps-5 pt-5 pb-3" style="color:#b83807;">All Customers</h6>
  <div *ngIf="filteredCustomers && filteredCustomers.length > 0; else noProductsTemplate">
    <div class="d-flex justify-content-center mt-3 mb-4">
      <div class="input-group" style="width: 450px;">
        <input class="form-control border rounded-pill" [(ngModel)]="searchTerm" type="search" placeholder="Search"
          id="example-search-input">
        <button class="btn border-0 rounded-pill" type="button" style="margin-left: -1px;">
          <i (click)="search()" class="fa fa-search" style="color: #FF3A20;"></i>
        </button>
      </div>
    </div>

    <div class="container mt-2">
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of filteredCustomers | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
            <td> <img [src]="customer.user.image" class="rounded-circle"
                style="height:70px; width:70px;object-fit: cover;" alt="">
            </td>
            <td scope="col">{{customer.user.name}}</td>
            <td scope="col">{{customer.user.last_name}}</td>
            <td scope="col">{{customer.user.gender}}</td>
            <td scope="col">{{customer.user.email}}</td>
            <td scope="col">{{customer.address}}</td>
            <td>{{customer.phone}}</td>
            <td>
              <a (click)="banUser(customer)" style="cursor:pointer;">
                <i class="fa-solid fa-ban" style="color:rgb(173, 4, 4)"></i>

              </a>
              <a (click)="viewCustomer(customer)"><i class="fa-solid fa-eye px-2 fs-5"
                style="cursor: pointer; color:black"></i></a>

              <!-- <button type="button" class="btn me-1">Delete</button> -->
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center my-4 ">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>

</div>

<ng-template #noProductsTemplate>
  <div class="container text-center p-5 shadow-lg">
    <img src="images/not-found.jpg" style="height:200px; width:250px;" alt="">
    <h3 class="text-muted">No data available.</h3>
  </div>
</ng-template>