<div class="container">
  <h6 class="ps-5 pt-5 pb-3" style="color:#b83807;">
    <ng-container *ngIf="currentLanguage === 'en'; else arabicCustomers">All Customers</ng-container>
    <ng-template #arabicCustomers>جميع العملاء</ng-template>
  </h6>

  <div *ngIf="customers && customers.length > 0; else noProductsTemplate">
    <div class="d-flex justify-content-center mt-3 mb-4">
      <div class="input-group" style="width: 450px;">
        <input class="form-control border rounded-pill" [(ngModel)]="searchTerm" type="search"
               [placeholder]="currentLanguage === 'en' ? 'Search' : 'بحث'" 
               id="example-search-input">
        <button class="btn border-0 rounded-pill" type="button" style="margin-left: -1px;">
          <i (click)="search()" class="fa fa-search" style="color: #FF3A20;"></i>
        </button>
      </div>
    </div>

    <div class="container mt-2">
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicID">ID</ng-container>
              <ng-template #arabicID>الرقم</ng-template>
            </th>
            <th scope="col">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicFirstName">First Name</ng-container>
              <ng-template #arabicFirstName>الاسم الأول</ng-template>
            </th>
            <th scope="col">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicLastName">Last Name</ng-container>
              <ng-template #arabicLastName>الاسم الأخير</ng-template>
            </th>
            <th scope="col">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicGender">Gender</ng-container>
              <ng-template #arabicGender>الجنس</ng-template>
            </th>
            <th scope="col">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicEmail">Email</ng-container>
              <ng-template #arabicEmail>البريد الإلكتروني</ng-template>
            </th>
            <th scope="col">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicAddress">Address</ng-container>
              <ng-template #arabicAddress>العنوان</ng-template>
            </th>
            <th scope="col">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicPhone">Phone</ng-container>
              <ng-template #arabicPhone>الهاتف</ng-template>
            </th>
            <th scope="col">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicAction">Action</ng-container>
              <ng-template #arabicAction>إجراء</ng-template>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>
              <img [src]="customer.user.image ? customer.user.image : 'images/user.png'" 
                   class="rounded-circle" 
                   style="height:70px; width:70px; object-fit: cover;" 
                   alt="">
            </td>
            
            <td scope="col">{{ customer.user.name }}</td>
            <td scope="col">{{ customer.user.last_name }}</td>
            <td scope="col">{{ customer.user.gender }}</td>
            <td scope="col">{{ customer.user.email }}</td>
            <td scope="col">{{ customer.address }}</td>
            <td>{{ customer.phone }}</td>
            <td>
              <a (click)="banUser(customer)" style="cursor:pointer;">
                <i class="fa-solid fa-ban" style="color:rgb(173, 4, 4)"></i>
              </a>
              <a (click)="viewCustomer(customer)">
                <i class="fa-solid fa-eye px-2 fs-5" style="cursor: pointer; color:black"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center my-4">
        <mat-paginator [length]="totalCustomers"
                       [pageSize]="itemsPerPage"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page"
                       (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>

  <ng-template #noProductsTemplate>
    <div class="container text-center p-5 shadow-lg">
      <img src="images/not-found.jpg" style="height:200px; width:250px;" alt="">
      <h3 class="text-muted">
        <ng-container *ngIf="currentLanguage === 'en'; else arabicNoData">No data available.</ng-container>
        <ng-template #arabicNoData>لا توجد بيانات متاحة.</ng-template>
      </h3>
    </div>
  </ng-template>
</div>
