<div class="container m-auto w-50 shadow-lg my-4 p-5">
  <div class="message-box">
      <h3 class="text-center">Thank you for registering!</h3>
      <h4>Verify your E-mail Address</h4>
      <p> Please check your email and click on the verification link we have sent you.</p>
      <p> You might need to ckeck your spam folder.</p>
      <p>Still didn’t receive the email? <button class="btn btn-info p-3 ms-3" (click)="resendVerificationEmail()">Resend verification email</button></p>
      <button class="reload-btn" (click)="reloadPage()">Verified let's Login </button>

      <button class="btn btn-outline-info p-3 ms-3" (click)="reloadPage()">try login with other email</button>

  </div>

</div>