<div class="container my-5 ">
    <div class="register-form shadow-lg" style="background-color: #ffffff;">
        <div *ngIf="submitted && backendErrors && getErrorMessages().length > 0" class="alert text-danger">
            <ul>
                <li *ngFor="let error of getErrorMessages()">{{ error }}</li>
            </ul>
        </div>
        <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" enctype="multipart/form-data">
            <div class="my-4">
                <h6 style="color: #b83807;">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicCreateAccount">Create your account</ng-container>
                    <ng-template #arabicCreateAccount>إنشاء حسابك</ng-template>
                </h6>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <ng-lottie [options]="registrationAnimationOptions" width="100%" height="100%"
                        (animationCreated)="animationCreated($event)">
                    </ng-lottie>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="fname" placeholder="First Name" name="name"
                                required ngModel>
                            <label for="fname">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicFirstName">First Name</ng-container>
                                <ng-template #arabicFirstName>الاسم الأول</ng-template>
                            </label>
                            <div *ngIf="submitted && registerForm.controls['name']?.invalid" style="color:#b83807">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicFirstNameRequired">First Name is required.</ng-container>
                                <ng-template #arabicFirstNameRequired>الاسم الأول مطلوب.</ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                                required email ngModel>
                            <label for="email">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicEmail">Email</ng-container>
                                <ng-template #arabicEmail>البريد الإلكتروني</ng-template>
                            </label>
                            <div *ngIf="submitted && registerForm.controls['email']?.invalid" style="color:#b83807">
                                <div *ngIf="registerForm.controls['email']?.errors?.['required']">
                                    <ng-container *ngIf="currentLanguage === 'en'; else arabicEmailRequired">Email is required.</ng-container>
                                    <ng-template #arabicEmailRequired>البريد الإلكتروني مطلوب.</ng-template>
                                </div>
                                <div *ngIf="registerForm.controls['email']?.errors?.['email']">
                                    <ng-container *ngIf="currentLanguage === 'en'; else arabicEmailInvalid">Please enter a valid email address.</ng-container>
                                    <ng-template #arabicEmailInvalid>يرجى إدخال عنوان بريد إلكتروني صالح.</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" placeholder="Your password"
                                name="password" required ngModel>
                            <label for="password">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicPassword">Password</ng-container>
                                <ng-template #arabicPassword>كلمة المرور</ng-template>
                            </label>
                            <div *ngIf="submitted && registerForm.controls['password']?.invalid" style="color:#b83807">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicPasswordRequired">Password is required.</ng-container>
                                <ng-template #arabicPasswordRequired>كلمة المرور مطلوبة.</ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password_confirmation"
                                placeholder="Confirm password" name="password_confirmation" required ngModel>
                            <label for="password_confirmation">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicConfirmPassword">Confirm Password</ng-container>
                                <ng-template #arabicConfirmPassword>تأكيد كلمة المرور</ng-template>
                            </label>
                            <div *ngIf="submitted && registerForm.controls['password_confirmation']?.invalid"
                                style="color:#b83807">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicConfirmPasswordRequired">Password confirmation is required.</ng-container>
                                <ng-template #arabicConfirmPasswordRequired>تأكيد كلمة المرور مطلوب.</ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="lname" placeholder="Last Name" name="last_name"
                                required ngModel>
                            <label for="lname">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicLastName">Last Name</ng-container>
                                <ng-template #arabicLastName>اسم العائلة</ng-template>
                            </label>
                            <div *ngIf="submitted && registerForm.controls['last_name']?.invalid" style="color:#b83807">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicLastNameRequired">Last Name is required.</ng-container>
                                <ng-template #arabicLastNameRequired>اسم العائلة مطلوب.</ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="form-floating">
                            <input type="tel" class="form-control" id="phone" placeholder="Phone" name="phone" required
                            pattern="^[0-9]{8,18}$" ngModel>
                            <label for="phone">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicPhone">Phone</ng-container>
                                <ng-template #arabicPhone>الهاتف</ng-template>
                            </label>
                            <div *ngIf="submitted && registerForm.controls['phone']?.invalid" style="color:#b83807">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicPhoneRequired">Phone number is required and must be a validnumber.</ng-container>
                                <ng-template #arabicPhoneRequired>رقم الهاتف مطلوب ويجب أن يكون رقمًا صحيحًا .</ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="my-3 py-3 d-flex justify-content-start">
                        <span class="ps-3">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicGender">Gender:</ng-container>
                            <ng-template #arabicGender>الجنس:</ng-template>
                        </span>
                        <div class="form-check px-5">
                            <input type="radio" id="male" name="gender" value="male" class="form-check-input" required
                                ngModel>
                            <label for="male" class="form-check-label">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicMale">Male</ng-container>
                                <ng-template #arabicMale>ذكر</ng-template>
                            </label>
                        </div>
                        <div class="form-check px-3">
                            <input type="radio" id="female" name="gender" value="female" class="form-check-input"
                                required ngModel>
                            <label for="female" class="form-check-label">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicFemale">Female</ng-container>
                                <ng-template #arabicFemale>أنثى</ng-template>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="submitted && registerForm.controls['gender']?.invalid" style="color:#b83807">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicGenderRequired">Gender is required.</ng-container>
                        <ng-template #arabicGenderRequired>الجنس مطلوب.</ng-template>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" id="address" placeholder="Your address" name="address"
                                style="height: 50px;" ngModel required></textarea>
                            <label for="address">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicAddress">Address details</ng-container>
                                <ng-template #arabicAddress>تفاصيل العنوان</ng-template>
                            </label>
                            <div *ngIf="submitted && registerForm.controls['address']?.invalid" style="color:#b83807">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicAddressRequired">Address is required.</ng-container>
                                <ng-template #arabicAddressRequired>العنوان مطلوب.</ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 text-end">
                        <input type="file" name="image" id="img" class="file" (change)="onFileChange($event)" />
                        <div *ngIf="submitted && !imageUploaded" style="color:#b83807">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicImageRequired">Image is required.</ng-container>
                            <ng-template #arabicImageRequired>الصورة مطلوبة.</ng-template>
                        </div>
                    </div>
                </div>
            </div>

<div class="container-my ">
    <div *ngIf="disable">
        <ng-lottie [options]="lodingAnimaationOptions" width="100px" 
            (animationCreated)="loadingAnimation($event)">
        </ng-lottie>
    </div>
</div>
       

            <div class="text-center my-4">
                <button type="submit" class="btn w-25 fw-bolder text-white"
                [disabled]="disable">
           
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicRegister">Register</ng-container>
                    <ng-template #arabicRegister>تسجيل</ng-template>
                </button>
            </div>

            <div class="text-center">
                <p class="text-center fw-bold">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicHaveAccount">Have an account?</ng-container>
                    <ng-template #arabicHaveAccount>هل لديك حساب؟</ng-template>
                </p>
                <a routerLink="/login" class="nav-link" aria-current="page">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicLogin">Login</ng-container>
                    <ng-template #arabicLogin>تسجيل الدخول</ng-template>
                </a>
            </div>
        </form>
    </div>
</div>
