<div class="container my-5 w-50">
    <div class="register-form shadow-lg" style="background-color: #f8eece;">
        <h2 class="text-center mb-4" style="color: #b83807;">Create your account</h2>
        <form >
            <div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name">
                        <label for="fname">First Name</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name">
                        <label for="lname">Last Name</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Your password">
                        <label for="password">password</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="confpassword" class="form-control" name="confpassword" id="confpassword"
                            placeholder="Confirm password">
                        <label for="confpassword">Confirm password</label>
                    </div>
                </div>

                <div class="my-3 d-flex justify-content-start">
                    <span>Gender :</span>
                    <div class="form-check px-5">
                        <input type="radio" id="male" name="gender" class="form-check-input"
                            style="border: 1px solid #b83807;">
                        <label for="male" class="form-check-label">Male</label>
                    </div>
                    <div class="form-check px-5">
                        <input type="radio" id="female" name="gender" class="form-check-input"
                            style="border: 1px solid #b83807;">
                        <label for="female" class="form-check-label">Female</label>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <div class="form-floating">
                    <input type="tel" class="form-control" id="phone"  name="phone" placeholder="Phone">
                    <label for="phone">Phone</label>
                </div>
            </div>
            <div class="my-3">
                <app-country-list />
            </div>

            <div class="my-3">
                <app-city-list />
            </div>

            <div class="mb-3">
                <div class="form-floating">
                    <textarea class="form-control" id="address" placeholder="Your address"
                        style="height: 50px;"></textarea>
                    <label for="address">Address</label>
                </div>
            </div>

            <div class="mb-3">
                <input type="file" name="img" id="img" class="file" style="color: #b83807;">
            </div>

            <div class="my-3 d-flex justify-content-start">
                <span>I am a :</span>
                <div class="form-check px-5">
                    <input type="radio" id="customer" name="role" class="form-check-input"
                        style="border: 1px solid #b83807;">
                    <label for="customer" class="form-check-label">Customer</label>
                </div>
                <div class="form-check px-5">
                    <input type="radio" id="seller" name="role" class="form-check-input"

                        style="border: 1px solid #b83807;">
                    <label for="seller" class="form-check-label">Seller</label>
                </div>
            </div>
        
            <div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="shopname" placeholder="Shop Name">
                        <label for="shopname">Shop Name</label>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" id="description" placeholder="Type a description"
                            style="height: 50px;"></textarea>
                        <label for="sellerDescription">Description</label>
                    </div>
                </div>

            </div>
            

            <div class="my-3">
                <div class="form-check">
                    <input type="checkbox" id="checkbox" class="form-check-input" style="border: 1px solid #b83807;">
                    <label for="checkbox" class="form-check-label" style="font-size: 1rem;">I agree to the terms and
                        conditions and privacy policy.
                    </label>
                </div>
            </div>
            <div class="text-center my-4">
                <button type="submit" class="btn w-50 fw-bolder text-white">Register</button>
            </div>

            <div class="text-center">
                <p class="text-center fw-bold">have an account?
                    <a href="#">login</a>
            </div>
        </form>
    </div>
</div>