<section class="latest-products">
    <div class="container my-5 m-auto">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- First slide with 3 cards -->
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img src="images/logo.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">mobile phone</h5>
                                    <h6 class="price mb-0">price : $100</h6>
                                    <p class="card-text">hgh gs gjhgdj gjgh jshagshdg hsgdjh gasj</p>
                                    <h6>Category : mobile</h6>
                        
                                    <!-- Align stars and rating in one line using d-flex -->
                                    <div class="d-flex justify-content-start align-items-center">
                                        <ul class="list-unstyled list-inline mb-0">
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <span class="mx-2">4.5/5</span> <!-- Add rating next to stars -->
                                    </div>
                        
                                    <div class="d-flex justify-content-center mt-3">
                                        <div>
                                            <a routerLink="/product/3" class="btn text-white"
                                                style="background-color:#e9760b;">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn text-white mx-3" style="background-color:#b83807;">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img src="images/logo.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">mobile phone</h5>
                                    <h6 class="price mb-0">price : $100</h6>
                                    <p class="card-text">hgh gs gjhgdj gjgh jshagshdg hsgdjh gasj</p>
                                    <h6>Category : mobile</h6>
                        
                                    <!-- Align stars and rating in one line using d-flex -->
                                    <div class="d-flex justify-content-start align-items-center">
                                        <ul class="list-unstyled list-inline mb-0">
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <span class="mx-2">4.5/5</span> <!-- Add rating next to stars -->
                                    </div>
                        
                                    <div class="d-flex justify-content-center mt-3">
                                        <div>
                                            <a routerLink="/product/3" class="btn text-white"
                                                style="background-color:#e9760b;">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn text-white mx-3" style="background-color:#b83807;">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img src="images/logo.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">mobile phone</h5>
                                    <h6 class="price mb-0">price : $100</h6>
                                    <p class="card-text">hgh gs gjhgdj gjgh jshagshdg hsgdjh gasj</p>
                                    <h6>Category : mobile</h6>
                        
                                    <!-- Align stars and rating in one line using d-flex -->
                                    <div class="d-flex justify-content-start align-items-center">
                                        <ul class="list-unstyled list-inline mb-0">
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <span class="mx-2">4.5/5</span> <!-- Add rating next to stars -->
                                    </div>
                        
                                    <div class="d-flex justify-content-center mt-3">
                                        <div>
                                            <a routerLink="/product/3" class="btn text-white"
                                                style="background-color:#e9760b;">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn text-white mx-3" style="background-color:#b83807;">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second slide with 3 cards -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img src="images/logo.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">mobile phone</h5>
                                    <h6 class="price mb-0">price : $100</h6>
                                    <p class="card-text">hgh gs gjhgdj gjgh jshagshdg hsgdjh gasj</p>
                                    <h6>Category : mobile</h6>
                        
                                    <!-- Align stars and rating in one line using d-flex -->
                                    <div class="d-flex justify-content-start align-items-center">
                                        <ul class="list-unstyled list-inline mb-0">
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <span class="mx-2">4.5/5</span> <!-- Add rating next to stars -->
                                    </div>
                        
                                    <div class="d-flex justify-content-center mt-3">
                                        <div>
                                            <a routerLink="['/product', product.id]" class="btn text-white"
                                                style="background-color:#e9760b;">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn text-white mx-3" style="background-color:#b83807;">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img src="images/logo.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">mobile phone</h5>
                                    <h6 class="price mb-0">price : $100</h6>
                                    <p class="card-text">hgh gs gjhgdj gjgh jshagshdg hsgdjh gasj</p>
                                    <h6>Category : mobile</h6>
                        
                                    <!-- Align stars and rating in one line using d-flex -->
                                    <div class="d-flex justify-content-start align-items-center">
                                        <ul class="list-unstyled list-inline mb-0">
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <span class="mx-2">4.5/5</span> <!-- Add rating next to stars -->
                                    </div>
                        
                                    <div class="d-flex justify-content-center mt-3">
                                        <div>
                                            <a routerLink="['/product', product.id]" class="btn text-white"
                                                style="background-color:#e9760b;">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn text-white mx-3" style="background-color:#b83807;">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img src="images/logo.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">mobile phone</h5>
                                    <h6 class="price mb-0">price : $100</h6>
                                    <p class="card-text">hgh gs gjhgdj gjgh jshagshdg hsgdjh gasj</p>
                                    <h6>Category : mobile</h6>
                        
                                    <!-- Align stars and rating in one line using d-flex -->
                                    <div class="d-flex justify-content-start align-items-center">
                                        <ul class="list-unstyled list-inline mb-0">
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <span class="mx-2">4.5/5</span> <!-- Add rating next to stars -->
                                    </div>
                        
                                    <div class="d-flex justify-content-center mt-3">
                                        <div>
                                            <a routerLink="['/product', product.id]" class="btn text-white"
                                                style="background-color:#e9760b;">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn text-white mx-3" style="background-color:#b83807;">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third slide with 3 cards -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img src="images/logo.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">mobile phone</h5>
                                    <h6 class="price mb-0">price : $100</h6>
                                    <p class="card-text">hgh gs gjhgdj gjgh jshagshdg hsgdjh gasj</p>
                                    <h6>Category : mobile</h6>
                        
                                    <!-- Align stars and rating in one line using d-flex -->
                                    <div class="d-flex justify-content-start align-items-center">
                                        <ul class="list-unstyled list-inline mb-0">
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <span class="mx-2">4.5/5</span> <!-- Add rating next to stars -->
                                    </div>
                        
                                    <div class="d-flex justify-content-center mt-3">
                                        <div>
                                            <a routerLink="['/product', product.id]" class="btn text-white"
                                                style="background-color:#e9760b;">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn text-white mx-3" style="background-color:#b83807;">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img src="images/logo.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">mobile phone</h5>
                                    <h6 class="price mb-0">price : $100</h6>
                                    <p class="card-text">hgh gs gjhgdj gjgh jshagshdg hsgdjh gasj</p>
                                    <h6>Category : mobile</h6>
                        
                                    <!-- Align stars and rating in one line using d-flex -->
                                    <div class="d-flex justify-content-start align-items-center">
                                        <ul class="list-unstyled list-inline mb-0">
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <span class="mx-2">4.5/5</span> <!-- Add rating next to stars -->
                                    </div>
                        
                                    <div class="d-flex justify-content-center mt-3">
                                        <div>
                                            <a routerLink="['/product', product.id]" class="btn text-white"
                                                style="background-color:#e9760b;">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn text-white mx-3" style="background-color:#b83807;">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img src="images/logo.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">mobile phone</h5>
                                    <h6 class="price mb-0">price : $100</h6>
                                    <p class="card-text">hgh gs gjhgdj gjgh jshagshdg hsgdjh gasj</p>
                                    <h6>Category : mobile</h6>
                        
                                    <!-- Align stars and rating in one line using d-flex -->
                                    <div class="d-flex justify-content-start align-items-center">
                                        <ul class="list-unstyled list-inline mb-0">
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                            <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <span class="mx-2">4.5/5</span> <!-- Add rating next to stars -->
                                    </div>
                        
                                    <div class="d-flex justify-content-center mt-3">
                                        <div>
                                            <a routerLink="['/product', product.id]" class="btn text-white"
                                                style="background-color:#e9760b;">Details</a>
                                        </div>
                                        <div>
                                            <a class="btn text-white mx-3" style="background-color:#b83807;">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev" style="background-color: #b83807; border-radius: 50%; height: 50px; width: 50px; margin-top: 200px;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next" style="background-color: #b83807; border-radius: 50%; height: 50px; width: 50px; margin-top: 200px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div>

   
</section>