<div class="container-fluid">
  <div class="row m-4">
    <div class="col-12 col-md-3 my-5">
      <app-list-part (linkClicked)="showComponent($event)"></app-list-part>
    </div>

    
    <div class="col-12 col-md-9 my-5">
      <app-customer-orders *ngIf="activeComponent === 'new-orders'">
      </app-customer-orders>
      <app-wishlist *ngIf="activeComponent === 'wishlist'"></app-wishlist>
      <app-edit-profile *ngIf="activeComponent === 'edit-profile'"></app-edit-profile>
      <!-- <app-my-returns  *ngIf="activeComponent === 'my-returns'"></app-my-returns> -->
      <app-my-cancellations   *ngIf="activeComponent === 'my-cancellations'"></app-my-cancellations>
      <app-view-order  *ngIf="activeComponent === 'view-order'"></app-view-order>
    </div>
  </div>
</div>
