<div class="container-fluid">
    <div class="row m-4">
      <!-- This is the part where the list of links will be rendered -->
      <div class="col-12 col-md-4 my-5">
        <!-- Emit event to parent when a link is clicked -->
        <app-list-part (linkClicked)="showComponent($event)"></app-list-part>
      </div>
  
      <!-- Conditionally render components based on the activeComponent value -->
      <div class="col-12 col-md-8 my-5">
        <app-customer-overview *ngIf="activeComponent === 'account'"></app-customer-overview>
        <app-customer-orders *ngIf="activeComponent === 'new-orders'"></app-customer-orders>
        <app-customer-orders-history *ngIf="activeComponent === 'orders-history'"></app-customer-orders-history>
        <app-my-wishlist-part *ngIf="activeComponent === 'wishlist'"></app-my-wishlist-part>
        <app-customer-info *ngIf="activeComponent === 'profile'"></app-customer-info>
      </div>
    </div>
  </div>
  