<nav class="navbar navbar-expand-lg shadow-lg">
    <div class="container-fluid">
        <a class="navbar-brand ms-5" routerLink="home">
            <img src="images/logo.png" width="110px" height="50px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="w-100 d-flex justify-content-center">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a routerLink="/home" class="nav-link" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link" aria-current="page">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/category" class="nav-link" aria-current="page">Category</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/products" class="nav-link" aria-current="page">Pruducts</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-none d-lg-flex align-items-center justify-content-lg-start me-5">
            <div class="input-group" style="width: 300px;">
                <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="search"
                    id="example-search-input">
                <button class="btn border-0 border rounded-pill ms-n5" type="button" style="margin-left: -40px;">
                    <i class="fa fa-search" style="color:#FF3A20;"></i>
                </button>
            </div>

            <div class="d-flex ms-3">
                <a routerLink="/wishlist" class="nav-link">
                    <i class="fa-regular fa-heart" style="color: #FF3A20;"></i>
                </a>
                <a routerLink="/cart" class="nav-link ms-3">
                    <i class="fa-solid fa-cart-shopping" style="color: #FF3A20;"></i>
                </a>
                <div class="nav-item dropdown">
                    <a class="nav-link mx-3 dropdown-toggle" id="userDropdown" type="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-user" style="color: #FF3A20;"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                      <li><a class="dropdown-item" routerLink="/customer/profile">Manage My Account</a></li>
                      <li><a class="dropdown-item" routerLink="">My Order</a></li>
                      <li><a (click)="logout()" class="dropdown-item" >Logout</a></li>
                    </ul>
                </div>
                  

            </div>
        </div>
    </div>
</nav>