<nav class="navbar navbar-expand-lg shadow-lg">
    <div class="container-fluid ms-3">
        <a class="navbar-brand " routerLink="home">
            <img  height="85px" src="images/barakah main 2.png" alt="">

        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<div class="row">


    <div class="collapse navbar-collapse " id="navbarNav">
        <div class="w-100 d-flex justify-content-center">
            <ul class="navbar-nav text-center">
                <li class="nav-item nav-item-main">
                    <a routerLink="/home" class="nav-link nav-link-main" aria-current="page">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicHome">Home</ng-container>
                        <ng-template #arabicHome>الرئيسية</ng-template>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" class="nav-link nav-link-main" aria-current="page">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicContact">Contact</ng-container>
                        <ng-template #arabicContact>الاتصال</ng-template>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/category" class="nav-link nav-link-main" aria-current="page">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicCategory">Category</ng-container>
                        <ng-template #arabicCategory>الفئة</ng-template>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/products" class="nav-link nav-link-main" aria-current="page">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicProducts">Products</ng-container>
                        <ng-template #arabicProducts>المنتجات</ng-template>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <!-- <div class="collapse navbar-collapse " id="navbarNav">
            <div class="w-100 d-flex justify-content-center">
                <ul class="navbar-nav text-center">
                    <li  *ngFor="let category of categories" class="nav-item">
                        <a routerLink="/home" class="nav-link" aria-current="page">
                            {{category.category_name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="w-100 d-flex justify-content-center">
                <ul class="navbar-nav text-center">
                    <!-- Loop through the first 4 categories -->
                    <li *ngFor="let category of categories.slice(0, 4)" class="nav-item">
                        <a routerLink="/category/{{category.id}}" class="nav-link" aria-current="page">
                            {{ category.category_name }}
                        </a>
                    </li>
        
                    <!-- "More" dropdown for additional categories -->
                    <li *ngIf="categories.length > 5" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="moreCategoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="moreCategoriesDropdown">
                            <li *ngFor="let category of categories.slice(4)">
                                <a routerLink="/category/{{category.id}}" class="dropdown-item">
                                    {{ category.category_name }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>


        <div class="d-none d-lg-flex align-items-center justify-content-lg-start me-5">
         

            <div class="d-flex ms-3">
                <a routerLink="/wishlist" class="nav-link">
                    <i class="fa-regular fa-heart" style="color: #FF3A20;"></i>
                </a>
                <a routerLink="/cart" class="nav-link ms-3">
                    <i class="fa-solid fa-cart-shopping" style="color: #FF3A20;"></i>
                </a>
                <div class="nav-item dropdown">
                    <a class="nav-link mx-3 dropdown-toggle" id="userDropdown" type="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-user" style="color: #FF3A20;"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <a  style="cursor: pointer;" class="dropdown-item" routerLink="/customer/profile">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicManageAccount">Manage My Account</ng-container>
                                <ng-template #arabicManageAccount>إدارة حسابي</ng-template>
                            </a>
                        </li>
                        <li>
                            <a  style="cursor: pointer;" class="dropdown-item" routerLink="/order">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicMyOrder">My Order</ng-container>
                                <ng-template #arabicMyOrder>طلباتي</ng-template>
                            </a>
                        </li>
                        <li>
                            <a  style="cursor: pointer;" (click)="logout()" class="dropdown-item">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicLogout">Logout</ng-container>
                                <ng-template #arabicLogout>تسجيل الخروج</ng-template>
                            </a>
                        </li>
                    </ul>
                </div>
                  
                <div class="dropdown me-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicLanguage">Language</ng-container>
                        <ng-template #arabicLanguage>اللغة</ng-template>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li style="cursor: pointer;">
                            <a class="dropdown-item" (click)="changeLanguage('en')">English</a>
                        </li>
                        <li style="cursor: pointer;">
                            <a class="dropdown-item" (click)="changeLanguage('ar')">العربية</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</nav>