<div class="container shadow-lg my-4">
    <div>
        <h5 class="px-5 py-4">
            <ng-container *ngIf="currentLanguage === 'en'; else arabicBillingDetails">Billing Details</ng-container>
            <ng-template #arabicBillingDetails>تفاصيل الفاتورة</ng-template>
        </h5>
    </div>
    <div class="row">
        <div class="col-md-6 checkout-form">
            <form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">
                <div class="my-3">
                    <div class="form-floating">
                        <input type="tel" class="form-control" id="phone" [(ngModel)]="customer.phone"
                            placeholder="Phone" name="phone" required pattern="[0-9]{11}" ngModel>
                        <label for="phone">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicPhone">Phone</ng-container>
                            <ng-template #arabicPhone>الهاتف</ng-template>
                        </label>
                        <div style="color: red;" *ngIf="submitted && orderForm.controls['phone']?.invalid">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicPhoneRequired">Phone number is required and must be a valid 10-digit number.</ng-container>
                            <ng-template #arabicPhoneRequired>رقم الهاتف مطلوب ويجب أن يكون رقمًا صالحًا مكونًا من 10 أرقام.</ng-template>
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    <div class="form-floating">
                        <textarea class="form-control" id="address" [(ngModel)]="customer.address"
                            placeholder="Your address" name="address" style="height: 50px;" ngModel required></textarea>
                        <label for="address">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicAddress">Address details</ng-container>
                            <ng-template #arabicAddress>تفاصيل العنوان</ng-template>
                        </label>
                        <div style="color: red;" *ngIf="submitted && orderForm.controls['address']?.invalid">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicAddressRequired">Address is required.</ng-container>
                            <ng-template #arabicAddressRequired>العنوان مطلوب.</ng-template>
                        </div>
                    </div>
                </div>



                <div *ngIf="selectedPaymentOption === 'delivery'; else pay" class="text-center mt-3">
                    <button class="btn-order" type="submit">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicPlaceOrder">Place order</ng-container>
                        <ng-template #arabicPlaceOrder>تقديم الطلب</ng-template>
                    </button>
                </div>
                <ng-template #pay>
                    <div class="text-center mt-3">
                        <button class="btn-pay" type="submit">
                            <img src="images/payment.png" alt="" style="margin-right: 10px; width:20px; height:20px;">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicPlaceOrder">Pay now</ng-container>
                            <ng-template #arabicPlaceOrder>الدفع الان</ng-template>
                        </button>
                    </div>
                </ng-template>

             
            </form>
        </div>
        <div class="col-md-6 p-5">
            <div class="container p-5 border rounded shadow" style="background-color: #ffffff;">
                <div class="row">
                    <div class="col">
                        <table class="table text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        <ng-container *ngIf="currentLanguage === 'en'; else arabicProduct">Product</ng-container>
                                        <ng-template #arabicProduct>المنتج</ng-template>
                                    </th>
                                    <th scope="col">
                                        <ng-container *ngIf="currentLanguage === 'en'; else arabicQuantity">Quantity</ng-container>
                                        <ng-template #arabicQuantity>الكمية</ng-template>
                                    </th>
                                    <th scope="col">
                                        <ng-container *ngIf="currentLanguage === 'en'; else arabicPrice">Price</ng-container>
                                        <ng-template #arabicPrice>السعر</ng-template>
                                    </th>
                                    <th scope="col">
                                        <ng-container *ngIf="currentLanguage === 'en'; else arabicTotalPrice">Total Price</ng-container>
                                        <ng-template #arabicTotalPrice>إجمالي السعر</ng-template>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cartItems">
                                    <td>
                                        <img [src]="item.product.cover_image" style="height:50px; width:50px; padding-right: 10px;" alt="Product Image">
                                        {{item.product.product_name}}
                                    </td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.product.priceAfterOffers}} <strong>ILS</strong></td>
                                    <td>{{item.product.priceAfterOffers * item.quantity}} <strong>ILS</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
                    <div class="d-flex align-items-center justify-content-between mt-4">
                        <div>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicTotalBeforeOffer">Total before offer:</ng-container>
                            <ng-template #arabicTotalBeforeOffer>إجمالي قبل العرض:</ng-template>
                        </div>
                        <div>{{totalPrice}} <strong>ILS</strong></div>
                    </div>
                    <hr class="my-4">
            
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicSavedByOffers">Saved by offers:</ng-container>
                            <ng-template #arabicSavedByOffers>المبلغ الذي تم توفيره من العروض:</ng-template>
                        </div>
                        <div>{{totalOffers}} <strong>ILS</strong></div>
                    </div>

                    <hr *ngIf="selectedPaymentOption === 'delivery'" class="my-4">
            
                    <div *ngIf="selectedPaymentOption === 'delivery'" class="d-flex align-items-center justify-content-between">
                        <div >
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicSavedByOffers">pay on delivery:</ng-container>
                            <ng-template #arabicSavedByOffers>دفع عند الاستلام:</ng-template>
                        </div>
                        <div>{{payOnDelivery}} <strong>ILS</strong></div>
                    </div>
                    <hr class="my-4">
            
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicTotal">Total:</ng-container>
                            <ng-template #arabicTotal>الإجمالي:</ng-template>
                        </div>
                        <div>{{total}} <strong>ILS</strong></div>
                    </div>
            
                    <div class="mt-4">
                        <h6>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicPaymentOptions">Payment Options</ng-container>
                            <ng-template #arabicPaymentOptions>خيارات الدفع</ng-template>
                        </h6>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" (change)="paymentChange('payNow')" name="paymentOption" id="payNow" value="payNow" [(ngModel)]="selectedPaymentOption">
                                <label class="form-check-label" for="payNow">
                                    <ng-container *ngIf="currentLanguage === 'en'; else arabicPayNow">Pay Now</ng-container>
                                    <ng-template #arabicPayNow>ادفع الآن</ng-template>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentOption" (change)="paymentChange('delivery')" id="delivery" value="delivery" [(ngModel)]="selectedPaymentOption">
                                <label class="form-check-label" for="delivery">
                                    <ng-container *ngIf="currentLanguage === 'en'; else arabicDelivery">Delivery on Payment</ng-container>
                                    <ng-template #arabicDelivery>الدفع عند التسليم</ng-template>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <ng-lottie [options]="successAnimationOptions" (animationCreated)="successAnimationCreated($event)" style="height:50%; width:50%;">
                            </ng-lottie>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                            <button routerLink="/home" class="btn" (click)="closeModal()" data-bs-toggle="modal"
                                style="background-color: #231717; color:white">
                                <ng-container *ngIf="currentLanguage === 'en'; else arabicClose">Close</ng-container>
                                <ng-template #arabicClose>إغلاق</ng-template>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
