<div class="container my-5 m-auto text-center">
  <img src="images/resin1.jpg" class="rounded-circle" style="height:100px; width:100px;" alt="">
  <div>
    <p class="pt-4 ps-2 balance"> Your Balance: <span id="balance">0</span></p>
  </div>
  <ul>
    <a>
      <li class=" mt-4 mb-4" (click)="onLinkClick('my-products')">My Products</li>
    </a>
    <a>
      <li class=" my-4" (click)="onLinkClick('add-products')">Add Product</li>
    </a>
    <a>
      <li class=" my-4" (click)="onLinkClick('edit')">Profile</li>
    </a>
    <a>
      <li class=" my-4" (click)="onLinkClick('register')">Become a Customer</li>
    </a>
    <a>
      <li class=" my-4">Log-out</li>
    </a>
  </ul>
</div>