<div class="container my-5 m-auto text-center" style="height:100vh">
  <img src="images/resin1.jpg" class="rounded-circle" style="height:100px; width:100px;" alt="">
  <div>
    <p class="pt-4 ps-2 balance"> Your Balance: <span id="balance">{{seller.total_sales}}</span></p>
  </div>
  <ul>
    <a>
      <li class=" mt-4 mb-4" (click)="onLinkClick('my-products')">My Products</li>
    </a>  
    <a>
      <li class=" mt-4 mb-4" (click)="onLinkClick('all-seller-offers')">All Offers</li>
    </a>
 
    <a>
      <li class=" mt-4 mb-4" (click)="onLinkClick('seller-orders')">Witing Orders</li>
    </a>

    <a>
      <li class=" mt-4 mb-4" (click)="onLinkClick('seller-orders-to-b-done')">Orders under doing</li>
    </a>

    <a>
      <li class=" my-4" (click)="onLinkClick('profile')">Profile</li>
    </a>
    
    <!-- <a>
      <li class=" my-4" (click)="onLinkClick('register')">Become a Customer</li>
    </a> -->

    <a>
      <li (click)="logout()" class=" my-4">Log-out</li>
    </a>
  </ul>
</div>