p{   vertical-align: middle;}

.checkout{
    background-color:#b83807; color:#ffffff;
}

.checkout:hover {
background-color: #fff;
color: #b83807;
border-color: #b83807;
}

.shop{
    background-color:#ffc857;
    color:black;
}

.shop:hover{
    background-color: #fff;
    border-color: #ffc857;
}

.update{
    background-color: #dd7230;
    color: black;
}

.update:hover{
    background-color: #fff;
    color: #dd7230;
    border-color: #dd7230;
}

.form-control:focus {
    border-color: #b83807 !important;  
    box-shadow: 0 0 0 0.2rem rgb(221, 114, 48, 0.1) !important;
}