<div class="container mt-5 mb-5 pb-5">
    <div *ngIf="empty" class="text-center mt-5">
        <div class="alert alert-info" role="alert">
            <strong>
                <ng-container *ngIf="currentLanguage === 'en'; else arabicCartEmpty">Your cart is empty!</ng-container>
                <ng-template #arabicCartEmpty>عربة التسوق الخاصة بك فارغة!</ng-template>
            </strong>
            <ng-container *ngIf="currentLanguage === 'en'; else arabicAddProducts">You haven't added any products yet.</ng-container>
            <ng-template #arabicAddProducts>لم تضف أي منتجات بعد.</ng-template>
        </div>
        <button routerLink="/products" class="btn btn-primary">
            <ng-container *ngIf="currentLanguage === 'en'; else arabicReturnToProducts">Return to Products</ng-container>
            <ng-template #arabicReturnToProducts>العودة إلى المنتجات</ng-template>
        </button>
    </div>
    
    <div *ngIf="!empty">
        <div class="row shadow-lg text-center p-3">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <p class="mb-0">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicProduct">Product</ng-container>
                    <ng-template #arabicProduct>المنتج</ng-template>
                </p>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <p class="mb-0">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicPrice">Price</ng-container>
                    <ng-template #arabicPrice>السعر</ng-template>
                </p>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center">
                <p class="mb-0">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicTotalOffers">Total Offers</ng-container>
                    <ng-template #arabicTotalOffers>إجمالي العروض</ng-template>
                </p>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <p class="mb-0">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicQuantity">Quantity</ng-container>
                    <ng-template #arabicQuantity>الكمية</ng-template>
                </p>
            </div>
                 
            <div class="col-2 d-flex justify-content-center align-items-center">
                <p class="mb-0">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicSize">Size</ng-container>
                    <ng-template #arabicSize>الحجم</ng-template>
                </p>
            </div>
            <div  class="col-1 d-flex justify-content-center align-items-center">
                <p class="mb-0">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicColor">Color</ng-container>
                    <ng-template #arabicColor>اللون</ng-template>
                </p>
            </div>
       
            
            <div class="col-1 d-flex justify-content-center align-items-center">
                <p class="mb-0">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicSubTotal">SubTotal</ng-container>
                    <ng-template #arabicSubTotal>المجموع</ng-template>
                </p>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center">
                <p class="mb-0">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicAction">Action</ng-container>
                    <ng-template #arabicAction>الإجراء</ng-template>
                </p>
            </div>
        </div>

        <div *ngFor="let item of cartItems" class="row shadow-lg text-center p-3 mt-3 align-items-center">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <img [src]="item.product.cover_image" style="height:70px; width:70px; object-fit: cover; padding-right:10px; object-fit: contain;" alt="">
                <span class="ms-2">{{item.product.product_name}}</span>
            </div>

            <div class="col-2 d-flex align-items-center justify-content-center">
                <p class="ps-2 mb-0">
                    <span class="original-price me-2 border rounded p-1" *ngIf="item.product.price != item.product.priceAfterOffers">
                        <span style="color: red; text-decoration: line-through;"> {{ item.product.price }} <strong>ILS</strong></span>
                    </span>
                    <span class="discounted-price">{{ item.product.priceAfterOffers }} <strong>ILS</strong></span>
                </p>
            </div>

            <div class="col-1 d-flex align-items-center justify-content-center">
                <p class="ps-2 mb-0">{{item.product.totalOffers}}%</p>
            </div>
          

            <div class="col-2 d-flex align-items-center justify-content-center">
                <div class="d-flex quantity">
                    <button (click)="downQuantity(item)" class="btn btn-link btn-minus">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input id="form1" min="1" name="quantity" [value]='item.quantity' type="number" class="form-control" />
                    <button (click)="addQuantity(item)" class="btn btn-link btn-plus">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="col-2 d-flex align-items-center justify-content-center">
                <p class="ps-2 mb-0">{{item.size.size}}</p>
            </div>     
            <div class="col-1 d-flex align-items-center justify-content-center">
                <img *ngIf="item.color" class="ps-2 mb-0" height="50px" [src]="item.color.image">
                <p *ngIf="!item.color">...</p>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <p class="ps-5 mb-0"> {{item.product.priceAfterOffers * item.quantity}}  <strong>ILS</strong></p>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center">
                <a (click)="deleteItem(item)" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
            </div>
        </div>
    </div>

    <div *ngIf="!empty">
        <div class="container w-25 mb-4 mt-5" style="background-color: #fff; border: 2px solid #b83807;">
            <div class="p-3">
                <p><strong>
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicCartTotal">Cart Total</ng-container>
                    <ng-template #arabicCartTotal>إجمالي العربة</ng-template>
                </strong></p>
            </div>
            <div class="d-flex justify-content-between text-center row ">
                <div class="col-md-6">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicTotalPrice">Total price:</ng-container>
                    <ng-template #arabicTotalPrice>إجمالي السعر:</ng-template>
                </div>
                <div class="col-md-6">
                    {{totalPrice}} <strong>ILS</strong>
                </div>
                <hr class="my-2">
                <div class="col-md-6">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicTotalSaved">Total Saved by Offers:</ng-container>
                    <ng-template #arabicTotalSaved>إجمالي التوفير من العروض:</ng-template>
                </div>
                <div class="col-md-6" style="color: red;">
                    {{totalOffers}} <strong>ILS</strong>
                </div>
                <hr class="my-2">
                <div class="col-md-6">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicFinalTotal">Final Total:</ng-container>
                    <ng-template #arabicFinalTotal>الإجمالي النهائي:</ng-template>
                </div>
                <div class="col-md-6">
                    {{totalPriceAfterOffers}} <strong>ILS</strong>
                </div>
            </div>
            <div class="text-center my-4">
                <button routerLink="/checkout" class="btn p-2 checkout">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicProcessCheckout">Process to checkout</ng-container>
                    <ng-template #arabicProcessCheckout>الانتقال إلى الدفع</ng-template>
                </button>
            </div>
        </div>
    </div>
</div>
