<div class="container shadow-lg mt-5 mb-5 pb-5">
    <h6 class="p-5" style="color:#991f00">
        <ng-container *ngIf="currentLanguage === 'en'; else arabicOrderItems">Order Items</ng-container>
        <ng-template #arabicOrderItems>عناصر الطلب</ng-template>
    </h6>

    <div *ngIf="order.payment === 'stripe' && order.payment_status == 'not_payed'"class="alert alert-warning text-center" role="alert">
        <ng-container *ngIf="currentLanguage === 'en'; else arabicAlert">
          This order will not be shipped until you pay.
        </ng-container>
        <ng-template #arabicAlert>
          لن يتم شحن هذا الطلب حتى تقوم بالدفع.
        </ng-template>
      </div>

    <div class="container">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicProduct">Product</ng-container>
                        <ng-template #arabicProduct>المنتج</ng-template>
                    </th>
                    <th scope="col">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicPrice">Price</ng-container>
                        <ng-template #arabicPrice>السعر</ng-template>
                    </th>
                    <th scope="col">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicQuantity">Quantity</ng-container>
                        <ng-template #arabicQuantity>الكمية</ng-template>
                    </th>

                    <th scope="col">
                        <p class="mb-0">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicColor">Size</ng-container>
                            <ng-template #arabicColor>الحجم</ng-template>
                        </p>
                    </th>
               
                    
                    <th scope="col">
                        <p class="mb-0">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabiccolor">color</ng-container>
                            <ng-template #arabiccolor>اللون</ng-template>
                        </p>
                    </th>
                    <th scope="col">
                        <p class="mb-0">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicSubTotal">Total</ng-container>
                            <ng-template #arabicSubTotal>المجموع</ng-template>
                        </p>
                    </th>
                    <th scope="col">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicAction">Action</ng-container>
                        <ng-template #arabicAction>الإجراء</ng-template>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderItems">
                    <td class="p-2 ">
                        <img [src]="item.product.cover_image" style="width:60px; height:60px; object-fit: cover; padding-right:20px;">
                        <span>{{item.product.product_name}}</span>
                    </td>
                    <td>{{item.product.priceAfterOffers}}</td>
                    <td>{{item.quantity}}</td>
                   
                    
                    <td><p class="ps-2 mb-0">{{item.size.size}}</p></td>
                    <td><img *ngIf="item.color" class="ps-2 mb-0" height="50px" [src]="item.color.image">
                        <p *ngIf="!item.color">...</p></td>

                        <td>{{item.product.priceAfterOffers *item.quantity }} <strong>ILS</strong></td>


                    <td>
                        <button type="button" class="btn me-1" style="color:rgb(2, 0, 0);" (click)="viewProduct(item.product)">
                            <i class="fa-solid fa-eye fs-4"></i>
                        </button>

                        <button *ngIf="order.payment_status != 'payed'" type="button" class="btn me-1" style="color: #991f00;" (click)="delete(item)">
                            <i class="fa-solid fa-trash-can fs-4"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container mt-4 w-50">
        <div class="row">
            <div class="col-12">
                <div class="p-3 shadow-lg rounded" style="background-color: #fff; border:1px solid #991f00">
                    <div class="text-center">
                        <h6>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicOrderSummary">Order Summary</ng-container>
                            <ng-template #arabicOrderSummary>ملخص الطلب</ng-template>
                        </h6>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-around">
                        <div><strong>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicTotalBeforeOffers">Total before offers:</ng-container>
                            <ng-template #arabicTotalBeforeOffers>الإجمالي قبل العروض:</ng-template>
                        </strong></div>
                        <div><p>{{ totalPrice }} <strong>ILS</strong></p></div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-around">
                        <div><strong>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicTotalSavedByOffers">Total saved by offers:</ng-container>
                            <ng-template #arabicTotalSavedByOffers>الإجمالي الموفر من العروض:</ng-template>
                        </strong></div>
                        <div><p>-{{ totalOffers }} <strong>ILS</strong></p></div>
                    </div>                    
                   
                    <!-- <hr *ngIf="order.payment=== 'onDelivery'" class="my-4">
            
               

                    <div  *ngIf="order.payment === 'onDelivery'" class="d-flex justify-content-around">
                        <div><strong>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicSavedByOffers">pay on delivery:</ng-container>
                            <ng-template #arabicSavedByOffers>دفع عند الاستلام:</ng-template>
                        </strong></div>
                        <div>{{payOnDelivery}} <strong>ILS</strong></div>
                    </div>   -->
                    <hr>
                    <div class="d-flex justify-content-around">
                        <div><strong>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicTotalAfterOffers">Total after offers:</ng-container>
                            <ng-template #arabicTotalAfterOffers>الإجمالي بعد العروض:</ng-template>
                        </strong></div>
                        <div><p>{{ totalPriceAfterOffers }} <strong>ILS</strong></p></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
