td {
    vertical-align: middle;
}

.input-group {
    display: flex;
  }

  .form-control {
    border-right: none; 
  }

  .btn {
    border-left: none; 
  }
.product{
    color:#b83807;
    text-decoration: none;
    
}