p{   vertical-align: middle;}

.form-control:focus {
    border-color: #b83807 !important;  
    box-shadow: 0 0 0 0.2rem rgb(221, 114, 48, 0.1) !important;
}


.checkout{
    background-color:rgb(184, 56, 7); color:#ffffff;
}

.checkout:hover {
background-color: #fff;
color: #b83807;
border-color: #b83807;
}

.shop{
    background-color:#ffc857;
    color:black;
}

.shop:hover{
    background-color: #fff;
    border-color: #ffc857;
}

.update{
    background-color: #dd7230;
    color: black;
}

.update:hover{
    background-color: #fff;
    color: #dd7230;
    border-color: #dd7230;
}

.quantity{
    width: 200px;
}

.btn-plus{ 
    background-color: #ffffff;
    color: #b83807;
    border-radius: 0px;
    font-size:18px
} 
.btn-minus{
    background-color: #ffffff;
    color: #b83807;
    border-radius: 0px;
    font-size:18px

}