<div class="my-5 m-auto container ">
    <div class="product-form shadow-lg">
        <h6 class="ps-3 mb-3 py-3" style="color: #b83807;">Edit Your Product</h6>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="ptitle" placeholder="Your product title">
                            <label for="ptitle">Product Title</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="price" placeholder="Your product price">
                            <label for="price">Product Price</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" id="pDescription" placeholder="Product Description"
                                style="height: 50px;"></textarea>
                            <label for="pDescription">Product Description</label>
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="form-floating">
                            <select class="form-select" id="category" aria-label="category">
                                <option selected disabled>Select Category</option>
                                <option value="accessories">Accessories</option>
                                <option value="clay">Clay</option>
                                <option value="crochet">crochet</option>
                            </select>
                            <label for="category">Category</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="file" class="form-control" id="gallery" accept="image/*" multiple>
                            <label for="gallery">Product Gallery</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="color" placeholder="Your product color">
                            <label for="ptitle">Product Color</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="size" placeholder="Your product Size">
                            <label for="ptitle">Product Size</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="file" class="form-control" id="pattern" accept="image/*" multiple>
                            <label for="pattern">Product Pattern</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="material" placeholder="Your product Material">
                            <label for="material">Product Material</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="file" class="form-control" id="video" accept="video/*">
                            <label for="video">Product Video</label>
                        </div>
                    </div>


                </div>
            </div>








            <div class="text-center">
                <button type="submit" class="btn w-25  text-white">Update Product</button>
            </div>
        </form>
    </div>
</div>