.cat-form {
    margin: auto;
    padding: 2rem;
  
}
.form-floating {
    position: relative;
}

.form-floating label {
    position: absolute;
    top: 0;
    left: 0.25rem;
    padding: 0.25rem 0.25rem;
    pointer-events: none;
    transition: all 0.2s ease;
    color: #6c707d;
}
.form-floating input:not(:placeholder-shown) ~ label,
.form-floating textarea:not(:placeholder-shown) ~ label,
.form-floating input:focus ~ label,
.form-floating textarea:focus ~ label {
    top: -0.75rem;
    left: 0.1rem;
    font-size: 1.25rem;
    color:#b83807;
   
}
.form-control {
    border-radius: 0.25rem;
    
}

.form-control:focus {
    border-color: #b83807; /* border color */
    outline: none; /* default outline */
    box-shadow: 0 0 5px rgba(184, 56, 7, 0.5); /*shadow with a blur effect */
}

.form-check-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(184, 56, 7, 0.5); /* Orange shadow on focus */
    border: 1px solid #b83807; /* Orange border */
}

.btn{
    background-color: #b83807;
}

.btn:hover{
    background-color: #231717;
    color: white;
}

.container-my > div {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100%;            
}
