<div class="container my-5 m-auto w-50">
    <div class="product-form shadow-lg" style="background-color: #fff;">
        <h6 class="mb-2 p-4" style="color: #b83807;">
            <ng-container *ngIf="currentLanguage === 'en'; else arabicTitle">
                Add a New Category
            </ng-container>
            <ng-template #arabicTitle>إضافة فئة جديدة</ng-template>
        </h6>

        <div *ngIf="submitted && backendErrors && getErrorMessages().length > 0" class="text-danger text-center">
            <ul>
                <li class="list-unstyled" *ngFor="let error of getErrorMessages()">{{ error }}</li>
            </ul>
        </div>

        <form (ngSubmit)="onSubmit(categoryForm)" #categoryForm="ngForm" enctype="multipart/form-data">
            <div class="row p-5">
                <!-- Category Title -->
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="cTitle" name="category_name" 
                               placeholder="Your Category Title" ngModel required>
                        <label for="category_name">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicLabelTitle">
                                Category Title
                            </ng-container>
                            <ng-template #arabicLabelTitle>عنوان الفئة</ng-template>
                        </label>
                        <div *ngIf="submitted && categoryForm.controls['category_name']?.invalid" class="text-danger">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicErrorTitle">
                                Category title is required.
                            </ng-container>
                            <ng-template #arabicErrorTitle>عنوان الفئة مطلوب.</ng-template>
                        </div>
                    </div>
                </div>

                <!-- Category Description -->
                <div class="mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" id="cDescription" name="description" 
                                  placeholder="Category Description" style="height: 50px;" ngModel ></textarea>
                        <label for="cDescription">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicCategoryDescription">Category Description (optional)</ng-container>
                            <ng-template #arabicCategoryDescription>وصف الفئة (اختيارى)</ng-template>
                        </label>
                   
                    </div>
                </div>

                <!-- Category Image -->
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="file" class="form-control" id="image" accept="image/*" multiple required 
                               (change)="onFileChange($event)">
                        <label for="image">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicLabelImage">
                                Category Image
                            </ng-container>
                            <ng-template #arabicLabelImage>صورة الفئة</ng-template>
                        </label>
                        <div *ngIf="submitted && !imageUploaded" class="text-danger">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicErrorImage">
                                Image is required.
                            </ng-container>
                            <ng-template #arabicErrorImage>الصورة مطلوبة.</ng-template>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-my ">
                <div *ngIf="disable">
                    <ng-lottie [options]="lodingAnimaationOptions" width="100px" 
                        (animationCreated)="loadingAnimation($event)">
                    </ng-lottie>
                </div>
            </div>
                        <div class="text-center">
                <button type="submit" class="btn w-50 fw-bolder text-white mb-5" style="background-color: #b83807;"
                [disabled]="disable">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicButtonText">
                        Add Category
                    </ng-container>
                    <ng-template #arabicButtonText>إضافة الفئة</ng-template>
                </button>
            </div>
        </form>
    </div>
</div>
