<div class="container p-5 shadow-lg">
    <div>
        <h2> My Wishlist</h2>
        <table class="table my-5 text-center">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        <button class="border-0 bg-transparent">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </td>
                    <td scope="col">
                        <img src="images/bouquet.jpg" style="height:75px;width:75px;" alt="">
                    </td>
                    <td>Title</td>
                    <td>Price</td>
                    <td>In stock</td>
                    <td class="text-center"> <!-- Add text-center class for centering -->
                        <button class="btn shadow-0 mx-1"
                            style="color:#ffffff; background-color: #b83807; width: 100%;">
                            <i class="me-1 fa fa-shopping-basket"></i> Add to cart
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>