<div class="container my-5 p-auto m-auto">
    <div class="container m-5">
        <h2>Welcome to our store, enjoy shopping!</h2>
    </div>

    <div *ngIf="products && products.length > 0; else noProductsTemplate">
        <div class="row row-cols-1 row-cols-md-4 g-3 m-auto">
            <div class="col-12 col-md-3" *ngFor="let element of products">
                <div class="card h-100">
                    <img src="{{element.cover_image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{element.product_name}}</h5>
                        <h6 class="price mb-0">Price: ${{element.price}}</h6>
                        <p class="card-text">{{element.description}}</p>
                        <h6>Category: {{element.category.category_name}}</h6>
                        <div class="d-flex justify-content-center mt-3">
                            <div>
                                <button (click)="onProductClick(element)" class="btn text-white"
                                    style="background-color:#e9760b;">Details</button>
                            </div>
                            <div>
                                <a class="btn text-white mx-3" style="background-color:#b83807;">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noProductsTemplate>
        <div class="container text-center p-5" style="border: 2px solid #e9760b; border-radius: 10px;">
            <h3 class="text-muted">No products available in this category.</h3>
            <p class="text-muted">Please check again later or explore other categories!</p>
            <button (click)="moveToCategory()" class="btn text-white mt-3" style="background-color:#e9760b;">Explore Categories</button>
        </div>
    </ng-template>
</div>
