<div class="container my-5 p-auto m-auto">
 

    <div *ngIf="products && products.length > 0;  else noProductsTemplate">
        <div class="container shadow-lg my-5 p-5 m-auto">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3 m-auto">
                <div class="col" *ngFor="let element of products | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">                    <div class="card card-item h-100">
                        <div class="card-img-container" style="background-color: #ffffff;">
                            <a (click)="onProductClick(element)" style="display: block; cursor: pointer;">
                                <img [src]="element.cover_image" class="card-img-top img-cover w-100"
                                    style="height: 200px; object-fit: cover;" alt="...">
                            </a>
                            <div style="position: absolute; top: 10px; left: 10px;">
                                <p
                                    style="background-color: #ffc857; color: #000; padding: 3px 7px; border-radius: 5px; font-weight: bold; font-size: 14px;">
                                    {{element.totalOffers}}%
                                </p>
                            </div>
                            <div style="position: absolute; top: 10px; right: 10px; display: flex; gap: 8px;">
                                <p style=" font-size: small;
                                background-color: #f0f0f0; 
                                border-radius: 8px; 
                                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
                                padding: 4px; ">
                                    Ordered: {{ element.total_ordered }} times
                                </p>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <p class="card-title">{{ element.product_name.length > 35 ? (element.product_name |
                                slice:0:35) + '...' : element.product_name }}</p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="price mb-1"><b>${{ element.priceAfterOffers }}</b></p>
                                </div>
                                <div *ngIf="element.priceAfterOffers != element.price">
                                    <p class="price mb-1 text-decoration-line-through">$${{ element.price }}</p>
                                </div>
                            </div>
                            <p class="card-text desc" style="font-size:14px">{{ element.description.length > 75 ?
                                (element.description | slice:0:75) + '...' : element.description }}
                            </p>
                           <div class="d-flex justify-content-center mt-1">
                                <a (click)="addToCart(element)" class="btn text-white mx-2" style="background-color: #b83807;">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="d-flex justify-content-center my-4 ">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

    <ng-template #noProductsTemplate>
        <div class="container text-center p-5 shadow-lg">
            <img src="images/not-found.jpg" style="height:250px; width:300px;" alt="">
            <h3 class="text-muted">No products available in this category.</h3>
            <p class="text-muted">Please check again later or explore other categories!</p>
            <button (click)="moveToCategory()" class="btn text-white mt-3" style="background-color:#b83807;">Explore
                Categories</button>
        </div>
    </ng-template>
</div>