<div class="container">
  <h6 class="ps-5 pt-5 pb-3" style="color:#b83807;">
    <ng-container *ngIf="currentLanguage === 'en'; else arabicCategories">All Categories</ng-container>
    <ng-template #arabicCategories>جميع الفئات</ng-template>
  </h6>

  <div class="text-center my-3">
    <button class="btn add" (click)="addCategory()">
      <ng-container *ngIf="currentLanguage === 'en'; else arabicAddCategory">Add Category</ng-container>
      <ng-template #arabicAddCategory>إضافة فئة</ng-template>
    </button>
  </div>

  <div class="container">
    <div *ngIf="filteredCategories && filteredCategories.length > 0; else noProductsTemplate">
      <div class="d-flex justify-content-center mt-3 mb-4">
        <div class="input-group" style="width: 500px;">
          <input class="form-control border rounded-pill" [(ngModel)]="searchTerm" type="search"
                 [placeholder]="currentLanguage === 'en' ? 'Search' : 'بحث'" 
                 id="example-search-input">
          <button class="btn border-0 rounded-pill" type="button" style="margin-left: -1px;">
            <i (click)="search()" class="fa fa-search" style="color: #FF3A20;"></i>
          </button>
        </div>
      </div>

      <div class="container mt-2">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicImage">Image</ng-container>
                <ng-template #arabicImage>صورة</ng-template>
              </th>
              <th scope="col">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicName">Name</ng-container>
                <ng-template #arabicName>الاسم</ng-template>
              </th>
              <th scope="col">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicDescription">Description</ng-container>
                <ng-template #arabicDescription>الوصف</ng-template>
              </th>
              <th scope="col">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicDescription">main or sub</ng-container>
                <ng-template #arabicDescription>رئيسية / فرعية</ng-template>
              </th>

              <th scope="col">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicDescription">type</ng-container>
                <ng-template #arabicDescription>النوع</ng-template>
              </th>
              <th scope="col">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicAction">Action</ng-container>
                <ng-template #arabicAction>إجراء</ng-template>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of filteredCategories | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
              <td scope="col" *ngIf="category.image">
                <img [src]="category.image" style="height:50px;width:50px;object-fit: cover;" alt="">
              </td>
              <td scope="col" *ngIf="!category.image">
                <img src= "images/barakah submark.png" style="height:50px;width:50px;object-fit: cover;" alt="">
              </td>
             
              <td style="font-size: 14px;">
                <p class="product">
                  <strong>{{ category.category_name }}</strong>
                </p>
              </td>
              <td>{{ category.description }}</td>
              <td *ngIf="!category.parent_id">رئيسية</td>
              <td *ngIf="category.parent_id" style="color:green"> فرعية </td>

              <td>
                <button (click)="updateCategory(category)" class="border-0 bg-transparent">
                  <i class="fa-solid fa-pen-to-square fs-5" style="cursor: pointer; color:#ce8d00"></i>
                </button>
                <a (click)="deleteCategory(category)" style="cursor:pointer;">
                  <i class="fa-solid fa-trash px-3 fs-5" style="color:rgb(173, 4, 4)"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center my-2">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>

  <ng-template #noProductsTemplate>
    <div class="container text-center p-5 shadow-lg">
      <img src="images/not-found.jpg" style="height:200px; width:250px;" alt="">
      <h3 class="text-muted">
        <ng-container *ngIf="currentLanguage === 'en'; else arabicNoData">No data available.</ng-container>
        <ng-template #arabicNoData>لا توجد بيانات متاحة.</ng-template>
      </h3>
    </div>
  </ng-template>
</div>
