<div class="container">
    <ul class="nav nav-tabs d-flex justify-content-evenly">

        <div>
            <a (click)="onLinkClick('mobile')">
                <li><i class="fa-solid fa-mobile-screen-button fs-2 p-3" style="color:#b83807"></i></li>
            </a>
        </div>
        <div>
            <a (click)="onLinkClick('address')">
                <li><i class="fa-solid fa-at fs-2 p-3" style="color:#b83807"></i></li>
            </a>
        </div>
        <div>
            <a (click)="onLinkClick('bank')">
                <li><i class="fa-solid fa-building-columns fs-2 p-3" style="color:#b83807"></i></li>
            </a>
        </div>
        <div>
            <a (click)="onLinkClick('card')">
                <li><i class="fa-regular fa-credit-card fs-2 p-3" style="color:#b83807"></i></li>
            </a>
        </div>
    </ul>
</div>