<div class="container shadow-lg p-3">
    <div> 
        <h3 class="p-3">Overview</h3>
    </div>
    <div class="d-flex justify-content-center">
        <div class="px-4"><h5>Name: Asmaa Amin</h5></div>
        <div class="px-4"><h5>phone: 01234567890</h5></div>
    </div>
    <div class="text-center">
        <h5 class="d-inline">Address: Assiut,Egypt </h5>
        <a routerLink="/edit-profile"><i class="fas fa-edit px-3" style="color:#b83807;"></i></a>
    </div>

    <hr class="my-4">

    <div>
        <h3 class="p-3 my-3">Your Order</h3>

        <div class="container m-auto border border-1">
            <div class="d-flex justify-content-between m-2 py-1">
                <div>
                    <span class="d-block">Order ID : 1234 - status(pending)</span>
                    <span class="d-block">Order Date : 2022-01-01</span>
                </div>
                <div>
                    <button class="btn mx-1" style="background-color:#b83807; color:white;">Cancel Order</button>
                    <button class="btn mx-1" style="background-color:#e9760b; color:white;">Track order</button>
                </div>
            </div>
            <hr class="py-1">
            <div class="row">
                <div class="col-md-3">
                    <div class="card border-0 px-2">
                        <img src="images/logo.png" class="card-img" style="height: 75px; width:75px;">
                        <div class="card-body">
                            <p class="card-title">Product 1</p>
                            <p> price</p>
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    total pice : 
                </div>

            </div>
        </div>
   
    </div>
</div>
