<section class="position-relative">
    <img 
        src="/images/woman-making-wood.jpg" 
        style="height: 550px; width: 100%; object-fit: cover;" 
        alt="Image" 
    />
    
    <!-- Overlay container -->
    <div 
        class="overlay position-absolute top-0 bottom-0 left-0 right-100 d-flex flex-column justify-content-center align-items-center" 
        style="background-color: rgba(0, 0, 0, 0.7); width: 100%;"
    >
        <h3 class="text-white" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">Welcome to Craftopia</h3>
        <p class="text-white" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">Discover the art of handmade, crafted with love.</p>
        <button class="btn mx-3 my-4" style="font-weight: bolder;">Shop Now</button>
    </div>
</section>
