<div class="container m-auto my-5 w-50 shadow-lg py-5">
    <div class="container">
        <div class="reset-form" style="background-color: #ffffff;">
            <h6 class="py-4 text-center">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicResetPassword">Reset Password</ng-container>
                <ng-template #arabicResetPassword>إعادة تعيين كلمة المرور</ng-template>
            </h6>
            <form (ngSubmit)="onSubmit(resetForm)" #resetForm="ngForm">
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" placeholder="Your password" name="password" required ngModel>
                        <label for="password">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicNewPassword">New Password</ng-container>
                            <ng-template #arabicNewPassword>كلمة المرور الجديدة</ng-template>
                        </label>
                        <div *ngIf="submitted && resetForm.controls['password']?.invalid" style="color:#b83807">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicPasswordRequired">Password is required.</ng-container>
                            <ng-template #arabicPasswordRequired>كلمة المرور مطلوبة.</ng-template>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password_confirmation" placeholder="Confirm password" name="password_confirmation" required ngModel>
                        <label for="password_confirmation">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicConfirmPassword">Confirm Password</ng-container>
                            <ng-template #arabicConfirmPassword>تأكيد كلمة المرور</ng-template>
                        </label>
                        <div *ngIf="submitted && resetForm.controls['password_confirmation']?.invalid" style="color:#b83807">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicPasswordConfirmationRequired">Password confirmation is required.</ng-container>
                            <ng-template #arabicPasswordConfirmationRequired>تأكيد كلمة المرور مطلوب.</ng-template>
                        </div>
                    </div>
                </div>
                <div class="text-center my-4">
                    <button class="btn">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicResetButton">Reset</ng-container>
                        <ng-template #arabicResetButton>إعادة تعيين</ng-template>
                    </button>
                </div>
            </form>
        </div>

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicErrorOccurred">An Error Occurred</ng-container>
                            <ng-template #arabicErrorOccurred>حدث خطأ</ng-template>
                        </p>
                        <p>{{message}}</p>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <button class="btn" (click)="closeModalError()" data-bs-toggle="modal" style="background-color: #231717; color:white">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicClose">Close</ng-container>
                            <ng-template #arabicClose>إغلاق</ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="myModalSuccess">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicSuccess">Success!</ng-container>
                            <ng-template #arabicSuccess>نجاح!</ng-template>
                        </p>
                        <p>{{message}}</p>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <button class="btn" (click)="closeModal()" data-bs-toggle="modal" style="background-color: #231717; color:white">
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicCloseSuccess">Close</ng-container>
                            <ng-template #arabicCloseSuccess>إغلاق</ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
