<div class="container m-auto my-5  w-50 shadow-lg py-5">
    

    <div class="container">
        <div class="reset-form" style="background-color: #ffffff;">
            <h6 class="py-4 text-center">Reset Password</h6>
            <form (ngSubmit)="onSubmit(resetForm)" #resetForm="ngForm">
                <div class="mb-3">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" placeholder="Your password"
                                name="password" required ngModel>
                            <label for="password">New Password</label>
                            <div *ngIf="submitted && resetForm.controls['password']?.invalid" style="color:#b83807">
                                Password is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password_confirmation"
                                placeholder="Confirm password" name="password_confirmation" required ngModel>
                            <label for="password_confirmation">Confirm Password</label>
                            <div *ngIf="submitted && resetForm.controls['password_confirmation']?.invalid"
                                style="color:#b83807">
                                Password confirmation is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center my-4">
                    <button class="btn"> Reset </button>
                </div>
            </form>

        </div>



        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                       
                        <p>An Error Occured</p>
                        <p>{{message}}</p>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <button class="btn" (click)="closeModalError()" data-bs-toggle="modal"
                            style="background-color: #231717; color:white">Close</button>

                    </div>
                </div>
            </div>

        </div>
        <div class="modal" id="myModalSuccess">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                       
                        <p>Success!</p>
                        <p>{{message}}</p>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <button class="btn" (click)="closeModal()" data-bs-toggle="modal"
                            style="background-color: #231717; color:white">Close</button>

                    </div>
                </div>
            </div>

        </div>

    </div>