<div class="container m-auto my-5  w-50 shadow-lg py-5">
    

    <div class="container">
        <div class="reset-form" style="background-color: #ffffff;">
            <h6 class="py-4 text-center">Reset Password</h6>
            <form action="">
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" placeholder="Your password"
                            name="password" required ngModel>
                        <label for="password">New Password</label>
                        <!-- <div *ngIf="submitted && registerForm.controls['password']?.invalid" style="color:#b83807">
                            Password is required.
                        </div> -->
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password"
                            name="confirmPassword" required ngModel>
                        <label for="confirmPassword">Confirm Password</label>
                        <!-- <div *ngIf="submitted && registerForm.controls['password']?.invalid" style="color:#b83807">
                            Password is required.
                        </div> -->
                    </div>
                </div>
                <div class="text-center my-4">
                    <button class="btn"> Reset </button>
                </div>
            </form>

        </div>
    </div>