.btn{
    background-color: #b83807;
}

.btn:hover{
    background-color: #231717;
    color: white;
}

a{
    color: #b83807;
}
.label {
    font-weight: bold;
}

.content {
    margin-left: 10px;
    color: #555; 
}
