<div class="container shadow-lg">
    <div class="d-flex">
        <div class=" p-5 ">

            <h5 class="py-2">First Name: Amin</h5>

            <h5 class="py-2">Last Name: Amin</h5>

            <h5 class="py-2">Gender : Female</h5>

            <h5 class="py-2">Email: amin$gmail.com</h5>

            <h5 class="py-2">Phone: 01234567890</h5>

            <h5 class="py-2"> Address: 123, Main Street, London, UK</h5>

            <h5 class="py-2"> Accout Type : Customer </h5>

        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
    <div class="text-center">
        <a routerLink="/edit-profile" type="submit" class="btn w-50 fw-bolder text-white my-4">Edit Profile</a>
    </div>


</div>