<div class="container shadow-lg p-4 rounded-4 bg-light mt-5">
    <div class="text-center my-4">
        <img [src]="customer.user.image" class="rounded-circle border border-3 border-secondary" 
            style="height: 120px; width: 120px; object-fit: cover;" alt="User Profile Image">
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h6 class="mb-3 text-decoration-underline fw-bold">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicPersonalInfo">Personal Information:</ng-container>
                <ng-template #arabicPersonalInfo>المعلومات الشخصية:</ng-template>
            </h6>

            <div>
                <div class="label">
                    <strong>
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicFirstName">First Name:</ng-container>
                        <ng-template #arabicFirstName>الاسم الأول:</ng-template>
                    </strong>
                </div>
                <div class="content">
                    <span>{{customer.user.name}}</span>
                </div>
            </div>

            <div>
                <div class="label">
                    <strong>
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicLastName">Last Name:</ng-container>
                        <ng-template #arabicLastName>اسم العائلة:</ng-template>
                    </strong>
                </div>
                <div class="content">
                    <span>{{customer.user.last_name}}</span>
                </div>
            </div>

            <div>
                <div class="label">
                    <strong>
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicGender">Gender:</ng-container>
                        <ng-template #arabicGender>الجنس:</ng-template>
                    </strong>
                </div>
                <div class="content">
                    <span>{{customer.user.gender}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h6 class="mb-3 text-decoration-underline fw-bold">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicAccountDetails">Account Details:</ng-container>
                <ng-template #arabicAccountDetails>تفاصيل الحساب:</ng-template>
            </h6>

            <div>
                <div class="label">
                    <strong>
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicEmail">Email:</ng-container>
                        <ng-template #arabicEmail>البريد الإلكتروني:</ng-template>
                    </strong>
                </div>
                <div class="content">
                    <span>{{customer.user.email}}</span>
                </div>
            </div>

            <div>
                <div class="label">
                    <strong>
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicAddress">Address:</ng-container>
                        <ng-template #arabicAddress>العنوان:</ng-template>
                    </strong>
                </div>
                <div class="content">
                    <span>{{customer.address}}</span>
                </div>
            </div>

            <div>
                <div class="label">
                    <strong>
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicPhone">Phone:</ng-container>
                        <ng-template #arabicPhone>رقم الهاتف:</ng-template>
                    </strong>
                </div>
                <div class="content">
                    <span>{{customer.phone}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a (click)="editProfile()" class="btn w-25 text-white mt-4 rounded-pill py-2">
            <ng-container *ngIf="currentLanguage === 'en'; else arabicEditProfile">Edit Profile</ng-container>
            <ng-template #arabicEditProfile>تعديل الملف الشخصي</ng-template>
        </a>
    </div>
</div>
