<div class="container shadow-lg">
    <h3 class="p-4"> Order History</h3>
    <div class="container ">
        <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">image</th>
                <th scope="col">Order No.</th>
                <th scope="col">Amount</th>
                <th scope="col">Order Date</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="col">
                    <img src="images/bouquet.jpg" style="height:75px;width:75px;" alt="">
                </td>
                <td>1234</td>
                <td>$100</td>
                <td>2024-10-01</td>
                <td>Pending</td>
                <td>
                    <button type="button" class="btn me-1" style="background-color: #b83807; color:white">View</button>
                    <button type="button" class="btn me-1" style="background-color: #e9760b;">Edit</button>
                    <button type="button" class="btn me-1" style="background-color: #ffaf2c;">Cancel</button>


                </td>
              </tr>
              <tr>
                <td scope="col">
                    <img src="images/bouquet.jpg" style="height:75px;width:75px;" alt="">
                </td>
                <td>1234</td>
                <td>$100</td>
                <td>2024-10-01</td>
                <td>Delivered</td>
                <td>
                    <button type="button" class="btn me-1" style="background-color: #b83807; color:white">View</button>
                    <button type="button" class="btn me-1" style="background-color: #e9760b; color:white">Buy Again</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
