<div class="my-3 w-100">
    <div class="review-form" style="background-color: #f8eece;">
        <h4 class="text-center mb-4" style="color: #b83807;">Add your Review</h4>
        <form>
            <div class="mb-3">
                <div class="form-floating">
                    <input type="rate" class="form-control" id="rate" placeholder="Your rate">
                    <label for="rate">Your Rate</label>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <textarea class="form-control" id="review" placeholder="Your review" style="height: 75px;"></textarea>
                    <label for="review">Your review</label>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn w-50 fw-bolder text-white">Add Review</button>
            </div>
        </form>
    </div>
</div>

