<div class="container bg-white">
    <div>
        <h3 class="p-4">Reviews</h3>
    </div>
    <div class="container card border border-0">
        <div class="card-body">
            <img src="images/logo.png" class="rounded-circle" style="height:50; width:50px" alt="">
          <h5 class="card-title d-inline">Customer name</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">description</h6>
          <div class="pt-3">
            stars 
          </div>
          <p class="card-text py-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <hr>
    </div>
</div>