<div class="container">
    <div>
        <img src="images/payment/instapay.png" style="width: 200px; height:150px;" alt="">
    </div>
    <p class="p-3">Card </p>
    <div class="my-2 payment-form m-auto w-75 mb-5 border-0" style="background-color: #ffffff;">
        <form method="post" action="">
            <div class="mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="cardNo" placeholder="card Number" name="cardNo"
                        required>
                    <label for="cardNo">Card Number</label>
                </div>
            </div>
            
            <div class="mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="name" placeholder="Card Holder Name" name="name" required>
                    <label for="name">Card Holder Name:</label>
                </div>
            </div>
            <div class="text-center my-4">
                <button type="submit" class="btn w-25 fw-bolder text-white">PAY</button>
            </div>
        </form>
        
    </div>

</div>

