.category-card {
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.category-card .card-img-overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay on hover */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.category-card:hover .card-img-overlay {
  opacity: 1; /* Show text on hover */
}

.category-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
