<div class="container shadow-lg my-5 m-auto p-4">
    <div class="container row">
        <div class="col-lg-6 d-flex">
            <div class="col-md-2 ">
                <a class="pt-2 sm-img item-thumb" (click)="onImageClick(product.cover_image)">

                    <img width="70" height="70" class="rounded-2" [src]="product.cover_image"
                    style="object-fit: contain; margin-top: 10px;"
                        [ngClass]="{'border border-primary': selectedImage === product.cover_image, 'selected-image': selectedImage === product.cover_image}" />
                </a>
                <a *ngFor="let image of product.images" class=" sm-img item-thumb"
                    (click)="onImageClick(image.image)">
                    <img width="70" height="70" class="rounded-2" [src]="image.image" style="object-fit: contain; margin-top: 10px;"
                        [ngClass]="{'border border-primary': selectedImage === image.image, 'selected-image': selectedImage === image.image}" />
                </a>
            </div>
            <div class="col-12 col-md-4">
                <img class="big-img" [src]="coverImage" alt="" style="object-fit: contain;">

            </div>
        </div>
        <div class="col-lg-6 p-4">
            <p style="font-size: 18px;">
                <strong>{{product.product_name}}</strong>
            </p>
            
            <ul class="nav d-flex">
                <div class="text-warning mb-1 me-2">
                    <i class="fa fa-star" *ngFor="let item of [].constructor(stars); let i = index"></i>
                    <i class="far fa-star" *ngFor="let item of [].constructor(5-stars); let i = index"></i>
                    <span class="ms-1">{{stars}}</span>
                </div>
                
                <span style="font-size: 12px;" class="px-2">
                    <div>
                        <p style="background-color: #ffc857; color: #000; padding: 3px 7px; border-radius: 5px; font-weight: bold; font-size: 14px;">
                            {{product.totalOffers}}%
                        </p>
                    </div>
                </span>
                <span style="font-size: 12px;" class="px-2">|</span>
                <span style="font-size: 12px;">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicStock">
                        {{product.stock}}: In Stock
                    </ng-container>
                    <ng-template #arabicStock>
                        {{product.stock}}: في المخزون
                    </ng-template>
                </span>
            </ul>
        
            <p class="pt-3"><strong>{{product.priceAfterOffers}} <strong>ILS</strong></strong></p>
            
            <div *ngIf="product.priceAfterOffers != product.price">
                <p class="price mb-1 text-decoration-line-through">{{ product.price }} <strong>ILS</strong></p>
            </div>
        
            <p class="w-75" style="font-size: 14px;">
                {{ product.description }}
            </p>
            
            <hr class="my-3">
            <div *ngIf="product.material">
                <div class="label">
                    <strong>
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicMaterials">Materials:</ng-container>
                        <ng-template #arabicMaterials>المواد:</ng-template>
                    </strong>
                </div>
                <div class="content">
                    <span>{{product.material}}</span>
                </div>
            </div>

      
            <ng-container *ngIf="product.sizes.length > 1; else oneSize">
                <div class="d-flex align-items-center">
                  <div class="me-3">
                    <strong>Choose Size:</strong>
                  </div>
                  <div class="dropdown w-80 mt-4 mb-4">
                    <button 
                      class="btn btn-secondary dropdown-toggle w-100" 
                      type="button" 
                      id="languageDropdown" 
                      data-bs-toggle="dropdown" 
                      aria-expanded="false">
                      {{ currentSize.size }}
                    </button>
              
                    <ul class="dropdown-menu w-100" aria-labelledby="languageDropdown">
                      <li 
                        *ngFor="let size of product.sizes; let i = index" 
                        style="color: #000;"
                        class="d-flex justify-content-between align-items-center mt-2">
                        <a 
                          (click)="changeSize(size)" 
                          style="cursor: pointer; color: #000;" 
                          class="dropdown-item text-wrap">
                          {{ size.size }} || Price: {{ size.price }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </ng-container>
              
            <ng-template #oneSize>
                <div>
                    <div class="label">
                        <strong>
                            <ng-container *ngIf="currentLanguage === 'en'; else arabicSize">Size:</ng-container>
                            <ng-template #arabicSize>الحجم : </ng-template>
                        </strong>
                    </div>
                    <div class="content">
                        <span>{{currentSize.size}}</span>
                    </div>
                </div>
            </ng-template>
            
      
            
            <div *ngIf="product.total_ordered">
                <div class="label">
                    <strong>
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicOrdered">Ordered:</ng-container>
                        <ng-template #arabicOrdered>تم الطلب:</ng-template>
                    </strong>
                </div>
                <div class="content">
                    <span>{{product.total_ordered}}  </span>
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicTimes">times</ng-container>
                    <ng-template #arabicTimes>مرات</ng-template>
                </div>
            </div>


                   <ng-container *ngIf="product.colors.length>0">
                    <div class="mt-4">
                        <strong>
                            choose color
                        </strong>
                    </div>

                <div class="d-flex align-items-center">
                 
                  <!-- <div class="dropdown w-100  mb-4 border shadow rounded d-flex align-items-center">
                 <img *ngFor="let color of colors" [src]="color.image" height="50px" class="m-2" alt="">
                  </div> -->
                  <div class="selectImage w-100 mb-4 border shadow rounded d-flex align-items-center">
                    <img 
                      *ngFor="let color of product.colors" 
                      [src]="color.image" 
                      height="50px" 
                      class="m-2 myImage" 
                      alt="" 
                      [class.selected]="selectedColor && selectedColor.id === color.id" 
                      (click)="selectImage(color)">
                  </div>
                </div>
              </ng-container>
              
            
            <div class="d-flex justify-content-evenly row pt-2">
                <div class="col-12 col-md-6 d-flex quantity me-3">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-minus" (click)="decOnQuantity()">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input type="number" min="1" #quantityInput name="quantity" value="{{quantity}}"
                        class="form-control" aria-label="Example text with button addon"
                        aria-describedby="button-addon1" (change)="onQuantityChange(quantityInput.value)" />
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-plus" (click)="addOnQuantity()">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                
                <div class="col-12 col-md-6">
                    <button (click)="addToCart()" class="btn px-3 mx-4 buy fw-bolder">
                        <ng-container *ngIf="currentLanguage === 'en'; else arabicBuyNow">Buy now</ng-container>
                        <ng-template #arabicBuyNow>اشتري الآن</ng-template>
                    </button>
                    <a (click)="addToWishList()">
                        <i class="me-1 fa fa-heart fa-lg pt-2" 
                           [ngClass]="{'fa-heart-selected': addToWish}"
                           [ngStyle]="{'transform': addToWish ? 'scale(1.3)' : 'scale(1)', 'filter': addToWish ? 'brightness(1.5)' : 'brightness(1)'}">
                        </i>
                    </a>
                </div>
            </div>
            <hr>
        </div>
        

        <div class="text-center my-4">
            <button *ngIf="product.video" class="btn mt-5 video" (click)="toggleVideo()"> 
                {{ currentLanguage === 'ar' ? 'شاهد الفيديو' : 'Watch Video' }} 
            </button>
            <button class="btn mt-5 video ms-4" (click)="toggleReview()"> 
                {{ currentLanguage === 'ar' ? 'عرض التقييمات' : 'View Reviews' }} 
            </button>
        </div>
        <div *ngIf="showVideo" class="video-container my-3 d-flex justify-content-center">
            <video width="500" controls>
                <source src="{{product.video}}" type="video/mp4">
            </video>
        </div>
        
        <div *ngIf="showReview">
            <div class="container bg-white">
                <div>
                    <p class="px-5 pt-5" style="font-size: 18px;"> 
                        {{ currentLanguage === 'ar' ? 'التقييمات' : 'Reviews' }} 
                    </p>
                </div>
                <div *ngIf="reviews" class="container card">
                    <div class="card-body" *ngFor="let review of reviews">
                        <img [src]="review.user.image" class="rounded-circle" style="height:50; width:50px" alt="">
                        <h5 class="card-title d-inline">{{review.user.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{review.user.last_name}}</h6>
                        <div class="pt-3">
                            <div class="d-flex flex-row my-3">
                                <div class="text-warning mb-1 me-2">
                                    <i class="fa fa-star" *ngFor="let item of [].constructor(review.rating); let i = index"></i>
                                    <i class="far fa-star" *ngFor="let item of [].constructor(5-review.rating); let i = index"></i>
                                    <span class="ms-1">{{review.rating}}</span>
                                </div>
                            </div>
                            <p class="card-text py-2">{{review.feedback}}</p>
                        </div>
                        <hr>
                        <button *ngIf="user && user.id == review.user.id" (click)="deleteReview(review)">
                            {{ currentLanguage === 'ar' ? 'احذف' : 'Delete' }}
                        </button>
                    </div>
                </div>
        
                <div class="my-3 w-50 m-auto">
                    <div class="review-form" style="background-color: white;">
                        <h6 class="text-center mb-4" style="color: #b83807;"> 
                            {{ currentLanguage === 'ar' ? 'أضف تقييمك' : 'Add your Review' }} 
                        </h6>
                        <form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm)">
                            <div class="my-3">
                                <div class="form-floating">
                                    <div class="text-warning mb-1 me-2">
                                        <i class="fa fa-star" 
                                           *ngFor="let item of [].constructor(ratingStars); let i = index"
                                           (click)="setRating(i)"></i>
        
                                        <i class="far fa-star" 
                                           *ngFor="let item of [].constructor(5 - ratingStars); let i = index"
                                           (click)="setRating(ratingStars + i + 1)"></i>
        
                                        <span class="ms-1">{{ ratingStars }}</span>
                                    </div>
                                </div>
                                <div *ngIf="submitted && reviewForm.controls['rating']?.invalid" class="text-danger">
                                    {{ currentLanguage === 'ar' ? 'تقييم المنتج مطلوب.' : 'Product Rating is required.' }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                                    <textarea style="width: 100%;" class="form-control review-textarea" id="review"
                                    [(ngModel)]='reviewMessage' name="review" placeholder="{{ currentLanguage === 'ar' ? 'مراجعتك' : 'Your review' }}" ngModel required></textarea>
        
                                    <label for="review">
                                        {{ currentLanguage === 'ar' ? 'تعليق التقييم' : 'Review message' }}
                                    </label>
                                    <div *ngIf="submitted && reviewForm.controls['review']?.invalid" class="text-danger">
                                        <div *ngIf="reviewForm.controls['review']?.errors?.['required']">
                                            {{ currentLanguage === 'ar' ? 'تعليق تقييم المنتج مطلوبة.' : 'Product Review message is required.' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="text-center">
                                <button type="submit" class="btn mybtn w-50 fw-bolder text-white">
                                    {{ currentLanguage === 'ar' ? 'إضافة تقييم' : 'Add Review' }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

                <div class="container ms-4">
                    <p class="px-5 pt-5" style="font-size: 18px;"> 
                        {{ currentLanguage === 'ar' ? 'العناصر ذات الصلة' : 'Related Items' }} 
                    </p>
                </div>
                <div class="container mb-3">
                    <div class="row my-2">
                        <div *ngIf="products.length === 0">
                            <div class="alert alert-warning text-center"> 
                                {{ currentLanguage === 'ar' ? 'لم يتم إضافة منتجات مشابهة بعد.' : 'No similar products added yet.' }}
                            </div>
                        </div>
                        <div class="row">
                            <div *ngFor="let myProduct of products" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
                              <ng-container *ngIf="myProduct.id !== product.id">
                                <div class="card mb-1 mx-1" style="width: 200px; height: 200px; position: relative; cursor: pointer;">
                                  <div style="background-color: #ffffff;">
                                    <img (click)="onproductClick(myProduct)" [src]="myProduct.cover_image"
                                      class="w-100" style="height: 165px; object-fit: cover;" alt="product">
                          
                                    <div style="position: absolute; top: 10px; left: 10px; color: white; font-size: 14px;">
                                      <strong style="background-color: #ffc857; color:#000000; padding:5px 10px; border-radius: 5px;">
                                        {{myProduct.totalOffers}}%
                                      </strong>
                                    </div>
                                    <div style="position: absolute; top: 10px; right: 10px; font-size: 18px;">
                                      <a><span style="background-color: #ffffff; padding: 5px; border-radius: 50%;">{{myProduct.total_ordered}}</span></a>
                                    </div>
                                    <div class="card-footer w-100">
                                      <a (click)="addAnotherToCart(myProduct)">
                                        <p class="text-center text-footer">
                                          <i class="fa-solid fa-cart-shopping text-white px-1"></i> 
                                          {{ currentLanguage === 'ar' ? 'إضافة إلى السلة' : 'Add to Cart' }}
                                        </p>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                                <div class="ms-2">
                                  <span class="ps-2 me-2">{{myProduct.product_name}}</span>
                                  <p class="ps-2 me-2">{{myProduct.priceAfterOffers}} <strong>ILS</strong>
                                    <span class="text-decoration-line-through ps-3">{{myProduct.price}} <strong>ILS</strong></span>
                                  </p>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                          
                          
                    </div>
                </div>
                

    </div>