<div class="container mt-5">
    <div>
        <ul class="list-group">
            <li class="list-group-item text-center no-Link" style="cursor: default !important;">
                <strong>
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicManageMyAccount">Manage My Account</ng-container>
                    <ng-template #arabicManageMyAccount>إدارة حسابي</ng-template>
                </strong>
            </li>
            <li class="list-group-item text-center">
                <a (click)="onLinkClick('profile')" class="link">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicMyProfile">My Profile</ng-container>
                    <ng-template #arabicMyProfile>ملفي الشخصي</ng-template>
                </a>
            </li>
        </ul>
        
        <ul class="list-group my-3">
            <li class="list-group-item text-center no-Link" style="cursor: default !important;">
                <strong>
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicMyOrders">My Orders</ng-container>
                    <ng-template #arabicMyOrders>طلباتي</ng-template>
                </strong>
            </li>
            <li class="list-group-item text-center">
                <a (click)="onLinkClick('new-orders')" class="link">
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicOrderHistory">Order History</ng-container>
                    <ng-template #arabicOrderHistory>تاريخ الطلبات</ng-template>
                </a>
            </li>
        </ul>

        <div class="text-center">
            <a routerLink="/wishlist" class="link">
                <strong>
                    <ng-container *ngIf="currentLanguage === 'en'; else arabicMyWishlist">My Wishlist</ng-container>
                    <ng-template #arabicMyWishlist>قائمتي المفضلة</ng-template>
                </strong>
            </a>
        </div>
    </div>
</div>
