<div class="container shadow-lg text-center">
    <img class="text-center mt-5 border border-1 rounded-circle" src="images/logo.png" style="height:100px;width:100px;"
        alt="">
    <div class="my-5">
        <ul class="list-group">
            <!-- Emit the appropriate value when each link is clicked -->
            <a  (click)="onLinkClick('account')">
                <li class="my-1 py-3">Account</li>
            </a>
            <a  (click)="onLinkClick('new-orders')">
                <li class="my-1 py-3">New Orders</li>
            </a>
            <a  (click)="onLinkClick('orders-history')">
                <li class="my-1 py-3">Orders History</li>
            </a>
            <a  (click)="onLinkClick('wishlist')">
                <li class="my-1 py-3">My Wishlist</li>
            </a>
            <a  (click)="onLinkClick('profile')">
                <li class="my-1 py-3">My Profile</li>
            </a>
        </ul>
    </div>
</div>