<div class="container ">
   
    <div class="mt-5">
        <ul class="list-group">
           
            <ul class="my-1 pt-3 text-center"> 
              
                <li class="no-Link pt-3" style="cursor: default !important;"><strong>Manage My Account</strong></li>
                <a  (click)="onLinkClick('profile')">
                    <li class="my-1 pb-3 link">My Profile</li>
                </a>
            </ul>

            <ul class="my-1 pb-3 text-center">
                <li class="no-Link" style="cursor: default !important;"><strong> My Orders</strong></li>
                <a  (click)="onLinkClick('new-orders')">
                    <li class="my-1  link">Order History</li>
                </a>
                <!-- <a  (click)="onLinkClick('my-returns')">
                    <li class="my-1  link">My returns</li>
                </a> -->
                <a  (click)="onLinkClick('my-cancellations')">
                    <li class="my-1 link">My Cancellations</li>
                </a>
            </ul>
            <div class="text-center">
                <a  routerLink="/wishlist">
                 <li class="my-1 ps-4 link"><strong>My Wishlist</strong></li>
                </a>
            </div>
            
        </ul>
    </div>
</div>