<div class="container my-3 mx-2">
    <div class="container mt-5 ms-3" style="color:#b83807;"><h6>All Customers</h6></div>

    <div class="container mt-2">
        <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">image</th>

                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
                <th scope="col">Total sales</th>

                <th scope="col">shope name</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let seller of sellers">
                <!-- <td scope="col">{{customer.id}}</td> -->
                 <td>  <img [src]="seller.user.image" class="rounded-circle" style="height:70px; width:70px;" alt="">
                 </td>
                <td scope="col">{{seller.user.name}}</td>
                <td scope="col">{{seller.user.last_name}}</td>
                <td scope="col">{{seller.user.gender}}</td>
                <td scope="col">{{seller.user.email}}</td> 
                <td>{{seller.total_sales}}</td>               
                <td scope="col">{{seller.shop_name}}</td>
                <td>{{seller.phone}}</td>   
                <td>
                    <a (click)="banUser(seller)" style="cursor:pointer;">
                      <i class="fa-solid fa-ban" style="color:rgb(173, 4, 4)"></i>

                    </a>

                  <!-- <button type="button" class="btn me-1">Delete</button> -->
                </td>
              </tr>
            </tbody>
          </table>
         
    </div>
    
</div>

