<app-banner></app-banner>
<app-home-content></app-home-content>
<!-- <app-latest-products></app-latest-products> -->
<div class="my-4">
    <app-carousel></app-carousel>
</div>

<div class="container my-5">
    <div class="row g-4">
        <!-- single large image -->
        <div class="col-md-6">
            <img src="images/portrait-man.jpg" class="img-fluid" style="height: 505px; object-fit: cover; width: 100%;" alt="Portrait of a Man">
        </div>
        
        <!-- two images -->
        <div class="col-md-6">
            <div class="row g-4">
                <div class="col-12">
                    <img src="images/top-view-hands-knitting.jpg" class="img-fluid" style="height: 240px; object-fit: cover; width: 100%;" alt="Top View Hands Knitting">
                </div>
                <div class="col-12">
                    <img src="images/lovely-handicrafts.jpg" class="img-fluid" style="height: 240px; object-fit: cover; width: 100%;" alt="Top View Hands Knitting">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container my-4">
    <p class="ps-4 pt-3">Categories</p>
    <h6 class="ps-4">Browse By Category</h6>
    <app-category-carousel></app-category-carousel>
</div>

<div class="my-3 text-center">
    <img src="images/.jpg" alt="">
</div>

<div class="container mb-5 ">
    <p class="my-4 ps-4">Our Products</p>
    <h6 class="ps-4">Explore Our Products</h6>
    <app-product-carousel></app-product-carousel>
</div>
