<app-banner></app-banner>
<app-home-content></app-home-content>
<!-- <app-latest-products></app-latest-products> -->
<div class="my-4">
    <app-carousel></app-carousel>
</div>

<div class="mb-4">
    <app-category-carousel></app-category-carousel>
</div>

<div class="my-3 text-center">
    <img src="images/bg2.jpg" alt="">
</div>

<div class="container mb-5 ">
    <p class="my-4 ps-4">Our Products</p>
    <h6 class="ps-4">Explore Our Products</h6>
    <app-product-carousel></app-product-carousel>
</div>
