<div class="container-fluid" style="height:100vh;">
  <h6 class="ps-5 pt-5 pb-3" style="color: #b83807;">My Offers</h6>
  <div class="text-center me-5 mb-4">
    <button (click)="addOffer()" class="btn" style="background-color:#b83807; color: white">Add New Offer</button>
  </div>

  <div class="container">
    <div >
      <div class="mb-5 d-flex justify-content-center ">
        <div class="input-group ms-5">
          <select [(ngModel)]="searchCriteria" class="form-select rounded-5" style="max-width: fit-content;">
            <option value="date">Search by Date</option>
            <option value="discount">Search by discount</option>
          </select>
          <input *ngIf="searchCriteria  == 'discount'; else date" type="number" [(ngModel)]="discount"
            placeholder="Discount (%)" class="form-control border rounded-pill" style="max-width: fit-content;" />
          <ng-template #date>
            <span style="padding-top:8px; padding-right:10px; padding-left:10px"> Start Date</span>
            <input type="date" [(ngModel)]="startDate" class="form-control border rounded-pill" placeholder="Start Date"
              style="max-width: fit-content;" />
            <span style="padding-top:8px; padding-right:10px; padding-left:10px"> End Date</span>
            <input type="date" [(ngModel)]="endDate" class="form-control border rounded-pill" placeholder="End Date"
              style="max-width: fit-content;" />
          </ng-template>

          <div>
            <button class="btn border-0 rounded-pill" type="button" style="margin-left: -1px;">
              <i (click)="search()" class="fa fa-search fs-5" style="color: #FF3A20;"></i>
            </button>
          </div>
        </div>
      </div>

      <table *ngIf="filteredOffers && filteredOffers.length > 0; else noProductsTemplate" class="table text-center">
        <thead>
          <tr>
            <th scope="col">discount</th>
            <th scope="col">start date</th>
            <th scope="col">End date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of filteredOffers  | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">

            <td style="font-size: 16px;">
              <p>{{offer.discount}}</p>
            </td>
            <td style="font-size: 14px; width:30%">{{offer.start_date}}</td>
            <td>{{offer.end_date}}</td>
            <td> <span [ngClass]="{
                'active': isOfferActive(offer.end_date),
                'ended': !isOfferActive(offer.end_date)
              }">
                {{ isOfferActive(offer.end_date) ? 'Active' : 'Ended' }}
              </span>
            </td>
            <td>
              <i (click)="addProductsToOffer(offer)" class="fa-solid fa-plus px-2 fs-5"
                style="cursor: pointer; color:rgb(4, 92, 4)"></i>
              <i (click)="getProducts(offer)" class="fa-solid fa-list px-2 fs-5" style="cursor: pointer;"></i>

              <!-- <button (click)="addProductsToOffer(offer)" class="btn" style=""><i class="fa-solid fa-plus"></i></button> -->
              <!-- <button (click)="getProducts(offer)" class="btn btn-secondary">offered products</button> -->

              <i (click)="deleteOffer(offer)" class="fa-solid fa-trash px-2 fs-5"
                style="color:rgb(173, 4, 4);cursor: pointer;"></i>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center my-4 ">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
  <ng-template #noProductsTemplate>
    <div class="container text-center p-5 shadow-lg">
      <img src="images/not-found.jpg" style="height:200px; width:250px;" alt="">
      <h3 class="text-muted">No data available.</h3>
    </div>
  </ng-template>
</div>