<div class="container shadow-lg  mb-5 pb-5">
    <h6 class="p-5" style="color:#b83807;">Orders In Progress</h6>
    <div class="container">
        <div class="mb-5 pb-5">
            <div class="input-group" style="width: 450px;">
                <select [(ngModel)]="searchCriteria" class="form-select me-2">
                    <option value="name">Search by Name</option>
                    <option value="category">Search by Category</option>
                    <option value="price">Search by Price Range</option>
                </select>
                <div *ngIf="searchCriteria !== 'price'; else priceRangeInput">
                    <input type="text" [(ngModel)]="searchTerm" placeholder="Search products..." class="form-control border rounded-pill"  />
                </div>
                
                <ng-template #priceRangeInput>
                    <input type="number" [(ngModel)]="priceFrom" placeholder="From" class="form-control border rounded-pill"  style="width: 100px;" />
                    <input type="number" [(ngModel)]="priceTo" placeholder="To" class="form-control border rounded-pill"  style="width: 100px;" />
                </ng-template>
        
                <button class="btn border-0 rounded-pill" type="button" style="margin-left: -1px;">
                    <i (click)="search()" class="fa fa-search" style="color: #FF3A20;"></i>
                </button>
            </div>
        </div>

        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredProducts | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                    <td>
                        <img [src]="item.product.cover_image" style="height:70px; width:70px; object-fit: cover;">
                    </td>
                    <td>
                        <span>{{item.product.product_name}}</span>
                    </td>
                    <td>{{item.product.priceAfterOffers}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.product.priceAfterOffers * item.quantity}}</td>
                    <td>
                        <button type="button" class="btn me-1" (click)="done(item)">
                            <img src="images/done.png" style="height: 50px; width:50px;" alt="done">
                        </button>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="d-flex justify-content-center my-4 ">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

</div>