<div class="container my-5 m-auto text-center" style="height:100vh;">
  <img [src]="user.image" class="rounded-circle" style="height:100px; width:100px;" alt="">

  <ul class="nav-menu">
    <a>
      <li class="my-4" (click)="onLinkClick('all-products')" [ngClass]="{'active': selected === 'all-products'}">All Products</li>
    </a>
    <a>
      <li class="mt-4 mb-4" (click)="onLinkClick('pending-products')" [ngClass]="{'active': selected === 'pending-products'}">Deleted Products</li>
    </a>
    <a>
      <li class="my-4" (click)="onLinkClick('all-categories')" [ngClass]="{'active': selected === 'all-categories'}">All Categories</li>
    </a>
    <a>
      <li class="my-4" (click)="onLinkClick('all-customers')" [ngClass]="{'active': selected === 'all-customers'}">All Customers</li>
    </a>
    <a>
      <li class="my-4" (click)="onLinkClick('all-offers')" [ngClass]="{'active': selected === 'all-offers'}">All Offers</li>
    </a>
    <a>
      <li class="my-4" (click)="onLinkClick('cities')" [ngClass]="{'active': selected === 'cities'}">City</li>
    </a>
    <a>
      <li class="my-4" (click)="onLinkClick('deliveries')" [ngClass]="{'active': selected === 'deliveries'}">Delivery</li>
    </a>

    <div id="accordion" style="background-color: #231717; border:none; color:#ffffff; margin-right:30px;">
      <div class="card" style="background-color: #231717; color:#ffffff; border:none;">
        <div class="card-header">
          <a data-bs-toggle="collapse" href="#collapseOne" style="background-color:#231717; color: white">
            Orders
          </a>
        </div>
        <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
          <div class="card-body">
            <ul>
              <a>
                <li class="my-4" (click)="onLinkClick('seller-orders')" [ngClass]="{'active': selected === 'seller-orders'}">Waiting Orders</li>
              </a>
              <a>
                <li class="my-4" (click)="onLinkClick('seller-orders-to-b-done')" [ngClass]="{'active': selected === 'seller-orders-to-b-done'}">On Delivery Orders</li>
              </a>
              <a>
                <li class="my-4" (click)="onLinkClick('done-orders')" [ngClass]="{'active': selected === 'done-orders'}">Deliverd Orders</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <a>
      <li class="my-4" (click)="onLinkClick('banned-customers')" [ngClass]="{'active': selected === 'banned-customers'}">Banned Customers</li>
    </a>

    <a>
      <li class="my-4" (click)="onLinkClick('list-messages')" [ngClass]="{'active': selected === 'list-messages'}">Contact Messages List</li>
    </a>
    <a>
      <li (click)="logout()" class="my-4">Log-out</li>
    </a>
  </ul>
</div>
