<div class="container-fluid" style="background-color: #fff;">
  <div class="row">
    <div class="col-md-3" style="color:white; background-color:#231717;">
      <app-admin-header (linkClicked)="showComponent($event)"></app-admin-header>
    </div>
    <div class="col-12 col-md-9 container-fluid shadow-lg"  style="background-color: #fff;">

      <app-pending-products *ngIf="activeComponent === 'pending-products'"></app-pending-products>
      <app-all-categories *ngIf="activeComponent === 'all-categories'"></app-all-categories>
      <app-all-customers *ngIf="activeComponent === 'all-customers'"></app-all-customers>
      <app-all-offers *ngIf="activeComponent === 'all-offers'"></app-all-offers>
      <app-all-orders *ngIf="activeComponent === 'all-orders'"></app-all-orders>
      <app-all-products *ngIf="activeComponent === 'all-products'"></app-all-products> 
      <app-all-sellers *ngIf="activeComponent === 'all-sellers'"></app-all-sellers>
      <app-banned-customers *ngIf="activeComponent === 'banned-customers'"></app-banned-customers>
      <app-banned-sellers *ngIf="activeComponent === 'banned-sellers'"></app-banned-sellers>
      <app-offered-products *ngIf="activeComponent === 'offered-products'"></app-offered-products>
      <app-rejected-products *ngIf="activeComponent === 'rejected-products'"></app-rejected-products>
      
    </div>
  </div>
</div>
