<div class="container my-5 m-auto w-50">
    <div class="product-form shadow-lg" style=" background-color: #fff;">

        <h6 class="mb-2 p-4" style="color: #b83807;">Edit your Category</h6>

        <!-- <div *ngIf="submitted && backendErrors && getErrorMessages().length > 0" class="alert alert-danger">
            <ul>
                <li *ngFor="let error of getErrorMessages()">{{ error }}</li>
            </ul>
        </div> -->

        <form class="cat-form ">

            <div class="row">

                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="cTitle" placeholder="Your Category Title"
                            name="title" ngModel required>
                        <label for="ptitle">Category Title</label>
                        <!-- <div *ngIf="submitted && productForm.controls['title']?.invalid" class="text-danger">
                                Category title is required.
                            </div> -->
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" id="cDescription" placeholder="Category Description"
                            style="height: 50px;" name="description" ngModel required></textarea>
                        <label for="cDescription">Category Description</label>
                        <!-- <div *ngIf="submitted && productForm.controls['description']?.invalid" class="text-danger">
                                Category description is required.
                            </div> -->
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-floating">
                        <input type="file" class="form-control" id="cover_image" accept="image" multiple required>
                        <label for="cover_image">Cover image </label>
                        <!-- <input type="file" class="form-control" id="cover_image" accept="image" multiple
                                (change)="onCoverImageSelect($event)" required>
                            <label for="cover_image">Cover image </label>
                            <div *ngIf="submitted && !imageUploaded" class="text-danger">
                                cover image is required.
                            </div> -->
                    </div>
                </div>

            </div>

            <div class="text-center">
                <button type="submit" class="btn w-50 fw-bolder text-white" style="background-color: #b83807;">Update</button>
            </div>
        </form>
    </div>

</div>