<div class="container shadow-lg my-5">
    <div class="py-4 d-flex justify-content-start align-items-center">
        <div>
            <i class="fa-solid fa-square-phone fs-3 px-3 " style="color: #b83807;"></i>
        </div>
        <div>
            <span class="fs-5">Call To Us</span>
        </div>
    </div>
    <p>We are available 24/7</p>
    <p>phone: +201012345678</p>

    <hr class="my-3">
    <div class="py-4 d-flex justify-content-start align-items-center">
        <div>
            <i class="fa-solid fa-square-phone fs-3 px-3 " style="color: #b83807;"></i>
        </div>
        <div>
            <span class="fs-5">Write To Us</span>
        </div>
    </div>

    <p>Fill out our form and we will contact you within 24 hours</p>
    <p>Email:iti.assiut$gmail.com</p>

</div>