<div class="container rounded-3 shadow-lg my-5">
    <div class="py-4 d-flex justify-content-start align-items-center">
        <div>
            <i class="fa-solid fa-phone fs-5 px-3 pt-2" style="color: #b83807;"></i>
        </div>
        <div>
            <span class="fs-5">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicCallToUs">Call To Us</ng-container>
                <ng-template #arabicCallToUs>اتصل بنا</ng-template>
            </span>
        </div>
    </div>
    <div class="m-3 py-2">
        <p>
            <ng-container *ngIf="currentLanguage === 'en'; else arabicAvailable">We are available 24/7</ng-container>
            <ng-template #arabicAvailable>نحن متاحون على مدار الساعة طوال أيام الأسبوع</ng-template>
        </p>
        <p>
            <ng-container *ngIf="currentLanguage === 'en'; else arabicPhone">Phone: </ng-container>
            <ng-template #arabicPhone>الهاتف:</ng-template>
            <br>
            +972 56-888-8882
        </p>
    </div>

    <hr class="my-1">
    <div class="py-4 d-flex justify-content-start align-items-center">
        <div>
            <i class="fa-solid fa-envelope fs-5 px-3 pt-1" style="color: #b83807;"></i>
        </div>
        <div>
            <span class="fs-5">
                <ng-container *ngIf="currentLanguage === 'en'; else arabicWriteToUs">Write To Us</ng-container>
                <ng-template #arabicWriteToUs>اكتب لنا</ng-template>
            </span>
        </div>
    </div>

    <div class="m-3 py-2">
        <p>
            <ng-container *ngIf="currentLanguage === 'en'; else arabicFillOutForm">Fill out our form and we will contact you within 24 hours</ng-container>
            <ng-template #arabicFillOutForm>املأ النموذج الخاص بنا وسنتواصل معك خلال 24 ساعة</ng-template>
        </p>
        <p>
            <ng-container *ngIf="currentLanguage === 'en'; else arabicEmail">Email:</ng-container>
            <ng-template #arabicEmail>البريد الإلكتروني: </ng-template>
            <br>
            albarkastore0&#64;gmail.com
        </p>
    </div>
</div>
