<div class="container" style="height:100vh;">
  <h6 class="ps-5 pt-5 pb-3" style="color: #b83807;">My Products</h6>

  <div class="text-center me-5 mb-4">
    <button (click)="addProduct()" class="btn" style="background-color: #b83807; color:white">Add New
      Product</button>
  </div>

  <div class="container">
    <div >
      <div class="mb-5 d-flex justify-content-center ">
        <div class="input-group" style="max-width: fit-content;">
          <select [(ngModel)]="searchCriteria" (change)="changeCriteria()"  class="form-select me-2 rounded-5">
            <option value="name">Search by Name</option>
            <option value="category">Search by Category</option>
            <option value="price">Search by Price Range</option>
          </select>
          <div *ngIf="searchCriteria !== 'price'; else priceRangeInput">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Search products..."
              class="form-control border rounded-pill" />
          </div>

          <ng-template #priceRangeInput>
            <span style="padding-top:8px; padding-right:10px; padding-left:10px"> From </span>
            <input type="number" [(ngModel)]="priceFrom" placeholder="From" class="form-control border rounded-pill"
              style="max-width: fit-content;" />
            <span style="padding-top:8px; padding-right:10px; padding-left:10px"> To </span>
            <input type="number" [(ngModel)]="priceTo" placeholder="To" class="form-control border rounded-pill"
              style="max-width: fit-content;" />
          </ng-template>

          <button class="btn border-0 rounded-pill" type="button" style="margin-left: -1px;">
            <i (click)="search()" class="fa fa-search fs-5" style="color: #FF3A20;"></i>
          </button>
        </div>
      </div>

      <table    *ngIf="products && products.length > 0; else noProductsTemplate" class="table text-center">
        <thead>
          <tr>
            <th scope="col">image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td scope="col">
              <img [src]="product.cover_image" style="height:75px;width:75px; object-fit: cover;" alt="">
            </td>
            <td style="font-size: 16px;">
              <p>{{product.product_name.length>30 ?product.product_name.substring(0,30)+'...':product.product_name}}</p>

            </td>
            <td style="font-size: 14px; width:30%">{{product.description.length>70
              ?product.description.substring(0,70)+'...':product.description}}</td>

            <td>${{product.price}}</td>
            <td>{{product.stock}}</td>
            <td>
              <a (click)="viewProduct(product)"><i class="fa-solid fa-eye px-2 fs-5"
                  style="cursor: pointer; color:black"></i></a>
              <a (click)="updateProduct(product)"><i class="fa-solid fa-pen-to-square px-2 fs-5"
                  style="color:#b86507; cursor: pointer;"></i></a>
              <i (click)="deleteProduct(product)" class="fa-solid fa-trash px-2 fs-5"
                style="color:rgb(173, 4, 4);cursor: pointer;"></i>
            </td>
          </tr>
        </tbody>
      </table>

    
      <div class="d-flex justify-content-center my-4">
        <mat-paginator [length]="totalProducts"
          [pageSize]="itemsPerPage"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
          (page)="onPageChange($event)">
            </mat-paginator>
    </div>

  </div>



  <ng-template #noProductsTemplate>
    <div class="container text-center p-5 shadow-lg">
      <img src="images/not-found.jpg" style="height:200px; width:250px;" alt="">
      <h3 class="text-muted">No data available.</h3>
    </div>
  </ng-template>

</div>