<div class="container my-3 mx-2">
    <div class="container mt-5 ms-3" style="color:#b83807;"><h6>All Customers</h6></div>

    <div class="container mt-2">
        <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                <!-- <td scope="col">{{customer.id}}</td> -->
                 <td>  <img [src]="customer.user.image" class="rounded-circle" style="height:70px; width:70px;" alt="">
                 </td>
                <td scope="col">{{customer.user.name}}</td>
                <td scope="col">{{customer.user.last_name}}</td>
                <td scope="col">{{customer.user.gender}}</td>
                <td scope="col">{{customer.user.email}}</td>                
                <td scope="col">{{customer.address}}</td>
                <td>{{customer.phone}}</td>   
                <td>
                    
                     <button (click)="activate(customer)"  class="btn btn-success">Activate</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center my-4 ">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>
    </div>
    
</div>

