<div class="container text-center mt-5 mb-5 pb-5">
    <div class="card shadow-lg p-4 border-danger">
      <div class="card-body">
        <h1 class="text-danger mb-3">Account Banned</h1>
        <p class="lead text-muted">It looks like your account has been banned.</p>
        <p class="mb-4">Please contact the website admin for more details.</p>
        <button class="btn btn-primary" (click)="goToContact()">Contact Admin</button>
        <button class="btn btn-outline-danger ms-5" (click)="back()">try again</button>

      </div>
    </div>
  </div>
  