<footer class="text-center text-lg-start text-muted pt-2 text-white" style="background-color:#140000;">

  <section class="text-white border-bottom">
    <div class="text-center text-md-start mt-1">
      <div class="row mt-1">

        <div class="col-md-4 mx-auto mb-2">
         
          <img style=" border-radius: 20px; padding: 2px;" height="80px" src="images/barakah mark white.png" alt="">
        </div>

        <div class="col-md-4 mx-auto mb-2 ps-1">
          <!-- Quick Links -->
          <h6 class="text-uppercase fs-5 fw-bold mb-1">
            <ng-container *ngIf="currentLanguage === 'en'; else arabicQuickLinks">Quick Links</ng-container>
            <ng-template #arabicQuickLinks>روابط سريعة</ng-template>
          </h6>
          <span class="me-3">
            <a routerLink="/products" class="text-reset">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicProducts">Products</ng-container>
              <ng-template #arabicProducts>المنتجات</ng-template>
            </a>
          </span>
          <span class="me-3">
            <a routerLink="/category" class="text-reset">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicCategories">Categories</ng-container>
              <ng-template #arabicCategories>الفئات</ng-template>
            </a>
          </span>
          <span class="me-3">
            <a routerLink="/order" class="text-reset">
              <ng-container *ngIf="currentLanguage === 'en'; else arabicOrders">Orders</ng-container>
              <ng-template #arabicOrders>الطلبات</ng-template>
            </a>
          </span>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
          <!-- Contact Info -->
          <h6 class="text-uppercase fs-5 fw-bold mb-1">
            <ng-container *ngIf="currentLanguage === 'en'; else arabicContact">Contact</ng-container>
            <ng-template #arabicContact>الاتصال</ng-template>
          </h6>
          <div class="d-flex flex-wrap justify-content-start">
            <p class="me-4"><i class="fas fa-home me-1"></i>
              <ng-container *ngIf="currentLanguage === 'en'; else arabicAddress">Palestine, Hebron City</ng-container>
              <ng-template #arabicAddress> فلسطين, مدينه الخليل  </ng-template>
            </p>
            <p class="me-4"><i class="fas fa-envelope me-1"></i>
              albarkastore0&#64;gmail.com
            </p>
            <p class="me-4"><i class="fas fa-phone me-1"></i>
              +972 56-888-8882
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container d-flex justify-content-center justify-content-lg-between ps-4 py-2 text-white" style="background-color: #140000;">

    <div class="me-5 d-none d-lg-block text-white border-white border-top-1" style="background-color: #140000;">
      <div class="text-center">
        © 2024 Copyright: 
        <span>
          <ng-container *ngIf="currentLanguage === 'en'; else arabicCopyright">Elbaraka Store</ng-container>
          <ng-template #arabicCopyright>البركه استور</ng-template>
        </span>
      </div>
    </div>

    <div>
      <a href="" class="me-4 text-reset"><i class="fa-brands fa-facebook"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-google"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
    </div>

  </section>

</footer>
