<!-- Footer -->
<footer class=" text-center text-lg-start text-muted pt-2 text-white" style="background-color:#140000;">

  <section class="  text-white border-bottom">
    <div class="text-center text-md-start mt-5">
      <div class="row mt-3">

        <div class="col-md-4 mx-auto mb-2">
          <!-- Content -->
          <img src="images/logo2.png" class="footer-img" alt="">
          <p>
            is an online marketplace that connects crafters with buyers. 
            Crafters can sell their handmade products on the platform by creating profiles and posting their items. 
            Buyers can explore different categories of handmade goods and purchase directly from the sellers.
          </p>
        </div>

        <div class="col-md-4 mx-auto mb-2 ps-5">
          <!-- Links -->
          <h6 class="text-uppercase fs-5 fw-bold mb-4"> Quick links </h6>
          <p>
            <a routerLink="/products" class="text-reset">Products</a>
          </p>
          <p>
            <a routerLink="/category" class="text-reset">Categories</a>
          </p>
          <p>
            <a routerLink="/" class="text-reset">Orders</a>
          </p>
        </div>
        <!-- Contact -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
          <h6 class="text-uppercase fs-5 fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"> </i>
            iti.assiut$gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 012 345 67</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container d-flex justify-content-center justify-content-lg-between ps-4 py-2 text-white"  style="background-color: #140000;">
    <!-- Left section-->
    <div class="me-5 d-none d-lg-block  text-white border-white border-top-1" style="background-color: #140000;">
      <div class="text-center" >
        © 2024 Copyright: <span>craftopia.com</span>
      </div>
    </div>

    <div>
      <a href="" class="me-4 text-reset"><i class="fa-brands fa-facebook"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-google"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-github"></i></a>
    </div>
    <!-- Right -->
  </section>

</footer>